.info-with-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  font-size: 36px;
  color: red;
  padding: 4px;
}

.no-margin {
  margin: 0;
}

.btn-success {
  color: #fff;
  background-color: #18b518;
  border-color: #4cae4c;
}

.btn-success:focus {
  color: #fff;
  background-color: #449d44;
  border-color: #255625;
}

.btn-success:hover {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}