<loading [visible]="isLoading"></loading>
<div *ngIf="!isLoading" class="card" [@card]>
  <div class="header">
    <h4 class="title">Import your library from Goodreads</h4>
    <p class="category">
      Choose the books you want to import from your Goodreads account
    </p>
  </div>
  <div class="content">
    <ng-container *ngIf="this.books.length > 0">
      <div class="row">
        <div class="col-xs-12 text-left text-muted">
          <a href="javascript:void(0);" (click)="selectAll(true)">
            Select all
          </a> |
          <a href="javascript:void(0);" (click)="selectAll(false)">
            Unselect all
          </a>
        </div>
      </div>
      <div class="row">
        <grid [items]="books">
          <ng-template let-book>
            <book-card
              [book]="book"
              [withButtons]="false"
              [selectable]="true"
              [selectBtnContent]="'Add to library'"
              [selectBtnContentDisabled]="'Already in library'"
              (selectedChanged)="updateSelectedBooks()"
            ></book-card>
          </ng-template>
        </grid>
      </div>
      <hr>
      <div style="text-align: center;">
        <button
          type="button"
          class="btn btn-default"
          (click)="importBooks()"
          routerLink="../../"
          [disabled]="!hasSelectedBooks"
        >Import</button>
      </div>
    </ng-container>
    <div class="row" *ngIf="this.books.length === 0">
      <div class="col-xs-12 text-center">
        <h4 class="text-muted">You don't have any new books to add from your Goodreads library. :(</h4>
        <p>
          <a href="javascript:void(0);" routerLink="../../">Return to library</a>
        </p>
      </div>
    </div>
  </div>
</div>