.table-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.item {
  flex: 1;
}

.active {
  background-color: var(--color-light-03);
  color: var(--color-primary-01);
  box-shadow: var(--elevation-99);
  border-width: 0;
}
