<div class="pagination">
  <i
    class="ti-angle-left icon-left button"
    [ngClass]="{ disabled: selectedPage === pages[0] }"
    (click)="onClick(selectedPage - 1)"
  ></i>
  <span
    class="number"
    *ngFor="let page of pages"
    [ngClass]="{ selected: selectedPage === page, disabled: page === '...' }"
    (click)="onClick(page)"
    >{{ page }}</span
  >
  <i
    class="ti-angle-right icon-right button"
    [ngClass]="{ disabled: selectedPage === pages[pages.length - 1] }"
    (click)="onClick(selectedPage + 1)"
  ></i>
</div>
