<!-- <div class="card"> -->
  <div class="header">
    <h4 class="title">Sign in</h4>
  </div>
  <div class="content">
    <form [formGroup]="signInForm" (ngSubmit)="signIn(signInForm.value)">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group" [ngClass]="{'has-error': !signInForm.controls['email'].valid && signInForm.controls['email'].touched}">
            <label>E-mail</label>
            <input type="text" class="form-control" formControlName="email">
            <span class="help-block" *ngIf="!signInForm.controls['email'].valid && signInForm.controls['email'].touched">
              Please enter a valid e-mail.
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group" [ngClass]="{'has-error': !signInForm.controls['password'].valid && signInForm.controls['password'].touched}">
            <label>Password</label>
            <input type="password" class="form-control" formControlName="password">
            <span class="help-block" *ngIf="!signInForm.controls['password'].valid && signInForm.controls['password'].touched">
              Please enter a valid password.
            </span>
          </div>
        </div>
      </div>
      <hr>
      <span style="color: #a94442" *ngIf="errorMessage">
        <i class="pe-7s-attention"></i> {{errorMessage}}
        <hr>
      </span>
      <div style="text-align: center;">
        <button style="width: 100%;" type="submit" class="btn btn-success" [disabled]="!signInForm.valid">Sign in</button>
      </div>
    </form>
    <div class="separator-with-text">
      <hr>
      <h5 class="text">Sign in with</h5>
      <hr>
    </div>
    <div>
      <a class="btn btn-block btn-social btn-lg btn-google" (click)="loginGoogle()">
        <span class="fa fa-google"></span>
        Sign in with Google
      </a>
      <a class="btn btn-block btn-social btn-lg btn-facebook" (click)="loginFacebook()">
        <span class="fa fa-facebook"></span>
        Sign in with Facebook
      </a>
    </div>
  </div>
<!-- </div> -->