<!-- <div class="card"> -->
  <div class="header">
    <h4 class="title">Sign in</h4>
  </div>
  <div class="content">
    <form [formGroup]="signInForm" (ngSubmit)="signIn(signInForm.value)">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group" [ngClass]="{'has-error': !signInForm.controls['signInEmail'].valid && signInForm.controls['signInEmail'].touched}">
            <label>E-mail</label>
            <input type="text" class="form-control" formControlName="signInEmail">
            <span class="help-block" *ngIf="!signInForm.controls['signInEmail'].valid && signInForm.controls['signInEmail'].touched">
              Please enter a valid e-mail.
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group" [ngClass]="{'has-error': !signInForm.controls['signInPassword'].valid && signInForm.controls['signInPassword'].touched}">
            <label>Password</label>
            <input type="password" class="form-control" formControlName="signInPassword">
            <span class="help-block" *ngIf="!signInForm.controls['signInPassword'].valid && signInForm.controls['signInPassword'].touched">
              Please enter a valid password.
            </span>
          </div>
        </div>
      </div>
      <hr>
      <span style="color: #a94442" *ngIf="errorMessage">
        <i class="pe-7s-attention"></i> {{errorMessage}}
        <hr>
      </span>
      <div style="text-align: center;">
        <button style="width: 100%;" type="submit" class="btn btn-success" [disabled]="!signInForm.valid">Sign in</button>
      </div>
    </form>
    <div class="separator-with-text">
      <hr>
      <h5 class="text">Sign in with</h5>
      <hr>
    </div>
    <div>
      <a href="javascript:void(0);" (click)="loginGoogle()">
        <img
          src="/assets/img/Flat/Social buttons by Dreamstale (5).svg"
          alt="Login with Google"
        >
      </a>
      <a href="javascript:void(0);" (click)="loginFacebook()">
        <img
          src="/assets/img/Flat/Social buttons by Dreamstale (2).svg"
          alt="Login with Facebook"
        >
      </a>
    </div>
  </div>
<!-- </div> -->