/* Library navbar */
.library-nav a {
  text-decoration: none;
  display: block;
}

.library-nav ul {
  list-style: none;
  position: relative;
  text-align: left;
  margin: 0;
}

.library-nav li {
  float: left;
}

/* clear'n floats */
.library-nav ul:after {
  clear: both;
}

.library-nav ul:before,
.library-nav ul:after {
    content: " ";
    display: table;
}

.library-nav {
  position: relative;
  text-align: center;
  border-radius: 4px;
  background: transparent;
  font-size: 1.1em;
}

/* prime */
.library-nav ul.primary {
  padding: 0;
}

.library-nav ul.primary li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #d8d8d8;
}

.library-nav ul.primary li a:hover {
  background-color: #d8d8d8;
}

.library-nav ul.primary li.active a {
  background-color: #f7f7f7;
}

/* keeps the tab background white */
.library-nav ul.primary li:hover a {
  background: #ccc;
  /*background-image: -webkit-linear-gradient(top, #fff 20%, #efeded 100%);
  background-image: -moz-linear-gradient(top, #fff 20%, #efeded 100%);
  background-image: -o-linear-gradient(top, #fff 20%, #efeded 100%);
  background-image: linear-gradient(top, #fff 20%, #efeded 100%);*/
  text-shadow: none;
}

.library-button .btn .btn-default {
  @import '/assets/css/bootstrap.min.css';
}

.input-group-btn .btn {
  border-width: 1px;
  padding: 6px 6px;
}

.tile-date {
  background-color: #eaeaea;
  font-size: 0.8em;
  border-radius: 0 0 4px 4px;
}

i.tile-icon {
  font-size: 1.4em;
}

i.inactive {
  color: #eaeaea;
}

@media only screen and (max-width: 600px) {
  .decor {
    padding: 3px;
  }

  .wrap {
    width: 100%;
    margin-top: 0px;
  }

   li {
    float: none;
  }

  ul.primary li:hover a {
    background: none;
    color: #8B8B8B;
    text-shadow: 1px 1px #000;
  }

  ul.primary li:hover ul {
    display: block;
    background: #272727;
    color: #fff;
  }

  ul.sub {
    display: block;
    position: static;
    box-shadow: none;
    width: 100%;
  }

  ul.sub li a {
    background: #272727;
  	border: none;
    color: #8B8B8B;
  }

  ul.sub li a:hover {
    color: #ccc;
    background: none;
  }
}

#book-image {
  display: block;
  margin: auto;
  border-radius: 0;
  width: 30%;
  height:auto;
}

#author-image {
  border-radius: 0;
}

.library-hr {
  border-color: #DDDDDD;
}

@media (min-width: 992px){
    .typo-line{
        padding-left: 140px;
        margin-bottom: 40px;
        position: relative;
    }

    .typo-line .category{
        transform: translateY(-50%);
        top: 50%;
        left: 0px;
        position: absolute;
    }
}

.all-icons [class*="pe-"]{
    font-size: 40px;
}
.all-icons input{
    border: 0;
}
.all-icons .font-icon-detail{
    text-align: center;
    padding: 45px 0px 30px;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    margin: 15px 0;
}
.all-icons .font-icon-detail input{
    margin: 25px auto 0;
    width: 100%;
    text-align: center;
    display: block;
    color: #aaa;
    font-size: 13px;
}

#map{
    position:relative;
    width:100%;
    height: 100%;
}
.map{
    height: 280px !important;

}
.places-buttons .btn{
    margin-bottom: 30px
}
.sidebar .nav > li.active-pro{
    position: absolute;
    width: 100%;
    bottom: 10px;
}
.sidebar .nav > li.active-pro a{
    background: rgba(255, 255, 255, 0.14);
    opacity: 1;
    color: #FFFFFF;
}

.table-upgrade td:nth-child(2),
.table-upgrade td:nth-child(3){
    text-align: center;
}
@media (max-width: 991px){
    .sidebar .nav > li.active-pro {
        position: relative;
        width: 100%;
        bottom: 0px;
    }
}
