.author-photo {
  display: block;
  margin: auto;
  border-radius: 0;
  height:auto;
  margin-bottom: 10px;
}

p {
  color: dimgray;
}

.btn-success {
  color: #fff;
  background-color: #18b518;
  border-color: #4cae4c;
}

.btn-success:focus {
  color: #fff;
  background-color: #449d44;
  border-color: #255625;
}

.btn-success:hover {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}

.selected {
  background-color: rgb(230, 230, 230);
  -webkit-box-shadow: inset 0 6px 15px -6px #969696;
	   -moz-box-shadow: inset 0 6px 15px -6px #969696;
	        box-shadow: inset 0 6px 15px -6px #969696;
}

.unavailable {
  font-size: 0.9em;
  font-style: italic;
  color: #cacaca;
}

.about-icon {
  font-size: 1.4em;
  color: #9A9A9A;
  text-align: center;
}

.about-icon-unavailable {
  color: #cacaca;
}