.book-row {
	padding: 10px;
}

.book-row > .row {
	text-align: center;
	height: 200px;
	overflow-x: auto;
	white-space: nowrap;
}

.book-row > .row > .col-xs-2 {
	display: inline-block;
	height: 100%;
	width: auto;
}

.book-row > .row > .col-xs-2 > .image {
	border-radius: 4px;
}

.book-row > .row > .col-xs-2 > .image > a > img {
	height: 100%;
	width: auto;
}

