.buttons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 8px;
}

.button {
  margin-left: 6px;
}

.search-bar {
  max-width: 300px;
  margin-left: 6px;
}

.full-search-bar {
  width: 100%;
  margin: 0;
}

.not-selectable {
  color: #9a9a9a;
}

.ti-info-alt {
  background: #fdf4ec;
  color: rgba(101, 105, 24, 1);
  border-radius: 6px;
}
