<!-- Separator -->
<div class="row" *ngIf="!!sectionTitle" id="{{removeSpaces(sectionTitle)}}">
  <div class="col-md-12">
    <h4 class="title">{{sectionTitle}}</h4>
    <p class="text-muted">{{description}}</p>
    <hr *ngIf="sectionTitle">
  </div>
</div>

<!-- Row of book cards -->
<div class="row" [@card]>
  <grid [items]="books">
    <ng-template let-book>
      <book-card
        [book]="book"
        [withButtons]="withButtons"
        [clickable]="clickable"
        [linkable]="linkable"
        [selectable]="selectable"
        [selectBtnContent]="selectBtnContent"
        [selectBtnContentDisabled]="selectBtnContentDisabled"
        (selectedChanged)="updateSelectedBooks($event)"
      ></book-card>
    </ng-template>
  </grid>
</div>