<!-- Separator -->
<div class="row" *ngIf="!!sectionTitle">
  <div class="col-md-12">
    <h4 class="title">{{sectionTitle}}</h4>
    <p class="text-muted">{{description}}</p>
    <hr class="library-hr" *ngIf="sectionTitle">
  </div>
</div>
<!-- Row of book cards -->
<div class="row" [@card]>
  <ng-container *ngFor="let book of books; let i = index;">
    <div class="clearfix" *ngIf="i % 4 == 0"></div>
    <div class="col-md-3">
      <book-card
        [book]="book"
        [linkable]="linkable"
        [withButtons]="withButtons"
        [selectable]="true"
        (selectedChanged)="updateSelectedBooks()"
      ></book-card>
    </div>
  </ng-container>
</div><!-- !Row -->