<page-navigator>
  <div class="row">
    <div class="col-md-12">
      <!-- Avatar -->
      <div class="card card-user" [@card]>
        <div class="header">
          <h4 class="title">User Info</h4>
        </div>
        <div class="content">
          <div class="row" style="text-align: center;">
            <div class="col-xs-12" style="position: relative">
              <div class="avatar-wrapper">
                <loading-overlay [visible]="isLoadingAvatar"></loading-overlay>
                <img
                  class="avatar border-gray"
                  [src]="user.avatarUrl || '/assets/img/default-avatar.png'"
                >
                <input style="display: none" [hidden]="true" #avatarUpload type="file" (change)="uploadAvatar($event)">
                <a href="javascript:void(0);" (click)="avatarUpload.click()">
                  <h4 class="avatar-edit">
                    Upload avatar
                  </h4>
                </a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <form [formGroup]="form" (ngSubmit)="submit(form.value)">
                <div class="form-group" [ngClass] = "{'has-error': !form.controls['name'].valid && form.controls['name'].touched}">
                  <label>Name:</label>
                  <input type="text" class="form-control" placeholder="Name" formControlName="name">
                  <span class="help-block" *ngIf="!form.controls['name'].valid && form.controls['name'].touched">Please enter a valid name.</span>
                </div>
                <hr>
                <!-- Save button -->
                <div style="text-align: center;">
                  <button type="submit" class="btn btn-success" [disabled]="!form.controls['name'].valid" style="width: 100%;">
                    <i class="pe-7s-diskette"></i>
                    Save
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <!-- Email -->
      <div class="card" [@card]>
        <div class="header">
          <h4 class="title">E-mail</h4>
        </div>
        <div class="content">
          <!-- Name -->
          <div class="row">
            <div class="col-xs-12">
              <form [formGroup]="form" (ngSubmit)="submit(form.value)">
                <!-- Email -->
                <div class="form-group" [ngClass] = "{'has-error': !form.controls['email'].valid && form.controls['email'].touched}">
                  <label>E-mail:</label>
                  <input type="text" class="form-control" placeholder="E-mail" formControlName="email">
                  <span class="help-block" *ngIf="!form.controls['email'].valid && form.controls['email'].touched">Please enter a valid e-mail.</span>
                </div>
                <!-- Emmil confirmation -->
                <div class="form-group" [ngClass] = "{'has-error': !form.controls['confirmEmail'].valid && form.controls['confirmEmail'].touched}">
                  <label>Confirm e-mail:</label>
                  <input type="text" class="form-control" placeholder="Confirm e-mail" formControlName="confirmEmail">
                  <span class="help-block" *ngIf="!form.controls['confirmEmail'].valid && form.controls['confirmEmail'].touched">E-mail doesn't match.</span>
                </div>
                <hr>
                <!-- Save button -->
                <div style="text-align: center;">
                  <button
                    type="submit"
                    class="btn btn-success"
                    [disabled]="!form.controls['email'].valid || !form.controls['confirmEmail'].valid"
                    style="width: 100%;"
                  >
                    <i class="pe-7s-diskette"></i>
                    Save
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <!-- Password -->
      <div class="card" [@card]>
        <div class="header">
          <h4 class="title">Password</h4>
        </div>
        <div class="content">
          <!-- Name -->
          <div class="row">
            <div class="col-xs-12">
              <form [formGroup]="form" (ngSubmit)="submit(form.value)">
                <!-- Password -->
                <div class="form-group" [ngClass] = "{'has-error': !form.controls['password'].valid && form.controls['password'].touched}">
                  <label>Password:</label>
                  <input type="password" class="form-control" placeholder="Password" formControlName="password">
                  <span class="help-block" *ngIf="!form.controls['password'].valid && form.controls['password'].touched">Please enter a valid password.</span>
                </div>
                <!-- Password confirmation -->
                <div class="form-group" [ngClass] = "{'has-error': !form.controls['confirmPassword'].valid && form.controls['confirmPassword'].touched}">
                  <label>Confirm password:</label>
                  <input type="password" class="form-control" placeholder="Password" formControlName="confirmPassword">
                  <span class="help-block" *ngIf="!form.controls['confirmPassword'].valid && form.controls['confirmPassword'].touched">Password doesn't match.</span>
                </div>
                <hr>
                <!-- Save button -->
                <div style="text-align: center;">
                  <button
                    type="submit"
                    class="btn btn-success"
                    [disabled]="!form.controls['password'].valid || !form.controls['confirmPassword'].valid"
                    style="width: 100%;">
                    <i class="pe-7s-diskette"></i>
                    Save
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Background image -->
  <div class="card" [@card]>
    <div class="header">
      <h4 class="title">Background image</h4>
    </div>
    <div class="content">
      <div class="row">
        <div class="col-xs-12">
          <input style="display: none" [hidden]="true" #backgroundUpload type="file" (change)="imageChanged($event)">
          <loading-overlay [visible]="isLoading"></loading-overlay>
          <img
            *ngIf="!croppedImage"
            [src]="user.backgroundUrl || '/assets/img/bookshelf03.jpg'"
            alt="Background"
            class="background-image"
          >
          <image-cropper
            [imageChangedEvent]="imageChangedEvent"
            [maintainAspectRatio]="true"
            [aspectRatio]="16 / 3"
            [resizeToWidth]="1920"
            outputType="file"
            format="jpg"
            (imageCropped)="imageCropped($event)"
          ></image-cropper>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <button type="button" class="btn btn-default" style="width: 100%;" (click)="backgroundUpload.click()">
            <i class="pe-7s-upload"></i>
            Upload
          </button>
        </div>
        <div class="col-xs-6">
          <button type="button" class="btn btn-success" [ngClass]="{disabled: !croppedImage}" style="width: 100%;" (click)="uploadBackground(croppedImage)">
            <i class="pe-7s-diskette"></i>
            Save
          </button>
        </div>
      </div>
    </div>
  </div>
</page-navigator>
