.book-image {
  display: block;
  margin: auto;
  border-radius: 0;
  height:auto;
  margin-bottom: 10px;
}

p {
  color: dimgray;
}

.btn::-moz-placeholder {
  color: #DDDDDD;
  opacity: 1;
  filter: alpha(opacity=100);
}

.btn:-moz-placeholder {
  color: #DDDDDD;
  opacity: 1;
  filter: alpha(opacity=100);
}

.btn::-webkit-input-placeholder {
  color: #DDDDDD;
  opacity: 1;
  filter: alpha(opacity=100);
}

.btn:-ms-input-placeholder {
  color: #DDDDDD;
  opacity: 1;
  filter: alpha(opacity=100);
}

.btn {
  background-color: #FFFFFF;
  border: 1px solid #E3E3E3;
  border-radius: 4px;
  color: #565656;
  padding: 8px 12px;
  height: 40px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn:focus {
  background-color: #FFFFFF;
  border: 1px solid #AAAAAA;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0 !important;
  color: #333333;
}

.btn-danger {
  color: #fff;
  background-color: #e60e09;
  border-color: #d43f3a;
}

.btn-danger.focus {
  color: #fff;
  background-color: #c9302c;
  border-color: #761c19;
}

.btn-danger:hover {
  color: #fff;
  background-color: #dc3a36;
  border-color: #ac2925;
}

.selected {
  background-color: rgb(230, 230, 230);
  -webkit-box-shadow: inset 0 6px 15px -6px #969696;
	   -moz-box-shadow: inset 0 6px 15px -6px #969696;
	        box-shadow: inset 0 6px 15px -6px #969696;
}

.unavailable {
  font-size: 0.9em;
  font-style: italic;
  color: #cacaca;
}

.about-icon {
  font-size: 1.4em;
  color: #9A9A9A;
  text-align: center;
}

.about-icon-unavailable {
  color: #cacaca;
}

i.owned {
  color: green;
}

i.wishlist {
  color: royalblue;
}

i.read {
  color: orangered;
}

i.favorite {
  color: violet;
}

hr {
  margin: 16px 0;
}

h4 {
  margin: 0;
}

.imported-from-gr {
  font-size: 16px;
  color: #9A9A9A;
  text-align: center;
}

.imported-from-gr > img{
  height: 20px;
  padding: 2px;
}

.book-title {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}

.gr-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 4px;
}

.gr-logo {
  height: 16px;
  padding: 0 4px;
  margin-bottom: 5px;
}