hr {
  margin: 16px 0;
}

h4 {
  margin: 0;
}

p {
  color: dimgray;
}

i.owned {
  color: green;
}

i.wishlist {
  color: royalblue;
}

i.read {
  color: orangered;
}

i.favorite {
  color: violet;
}

.book-title {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}

.book-image {
  display: block;
  margin: auto;
  border-radius: 0;
  height: auto;
  margin-bottom: 10px;
}

.unavailable {
  font-size: 0.9em;
  font-style: italic;
  color: #cacaca;
}

.about-icon {
  font-size: 1.4em;
  color: #9a9a9a;
  text-align: center;
}

.about-icon-unavailable {
  color: #cacaca;
}

.imported-from-gr {
  font-size: 16px;
  color: #9a9a9a;
  text-align: center;
}

.imported-from-gr > img {
  height: 20px;
  padding: 2px;
}

.gr-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 4px;
}

.gr-logo {
  height: 16px;
  padding: 0 4px;
  margin-bottom: 5px;
}

.button-wrapper {
  padding-top: 2px;
  padding-bottom: 2px;
}

.button-wrapper button {
  width: 100%;
}
