<loading [visible]="isLoading"></loading>
<page-navigator *ngIf="!isLoading">
  <div class="card" [@card]>
    <div class="content">
      <div class="row">
        <div class="col-md-4">
          <div class="image book-image">
            <img
              [src]="book.imageLarge ? book.imageLarge : (book.imageSmall ? book.imageSmall : '/assets/img/no-book-cover.png')"
              alt="Book cover"
            >
          </div>
        </div>
        <div class="col-md-8">
          <div class="row" style="padding-bottom: 10px">
            <div class="header">
              <h4 class="title">{{book.title}}</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <label>Author:</label>
                <p><a href="javascript:void(0);" [routerLink]="authorRoute">
                  {{book.author}}
                </a></p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <label>Original title:</label>
              <p [ngClass]="{'unavailable': !book.original }">
                {{book.original ? book.original : 'Not available' }}
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-xs-6">
              <label>Publisher:</label>
              <p [ngClass]="{'unavailable': !book.publisher }">
                {{book.publisher ? book.publisher : 'Not available' }}
              </p>
            </div>
            <div class="col-md-12 col-xs-6">
              <label>Language:</label>
              <p [ngClass]="{'unavailable': !book.language }">
                {{book.language ? book.language : 'Not available'}}
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2 col-xs-3">
              <label>Year</label>
              <p [ngClass]="{'unavailable': !book.year }">{{book.year ? book.year : 'Not available'}}</p>
            </div>
            <div class="col-md-2 col-xs-3">
              <label>Pages</label>
              <p [ngClass]="{'unavailable': !book.pages }">{{book.pages ? book.pages : 'Not available'}}</p>
            </div>
            <div class="col-md-8 col-xs-6">
              <label>Rating</label><br>
              <rating [(ngModel)]="book.rating" [readonly]="true" [titles]="['', '', '', '', '']"></rating>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <label>Favorites</label>
            </div>
            <div class="col-xs-3" style="text-align: center">
              <i class="pe-7s-check about-icon" [ngClass]="{'about-icon-unavailable': !book.owned, 'owned': book.owned }"></i>
              <div class="text-muted" style="font-size: 0.8em" [ngClass]="{'about-icon-unavailable': !book.owned, 'owned': book.owned }">Owned</div>
            </div>
            <div class="col-xs-3" style="text-align: center">
              <i class="pe-7s-gift about-icon" [ngClass]="{'about-icon-unavailable': !book.wishlist, 'wishlist': book.wishlist }"></i>
              <div class="text-muted" style="font-size: 0.8em" [ngClass]="{'about-icon-unavailable': !book.wishlist, 'wishlist': book.wishlist }">Wishlist</div>
            </div>
            <div class="col-xs-3" style="text-align: center">
              <i class="pe-7s-glasses about-icon" [ngClass]="{'about-icon-unavailable': !book.read, 'read': book.read }"></i>
              <div class="text-muted" style="font-size: 0.8em" [ngClass]="{'about-icon-unavailable': !book.read, 'read': book.read }">Read</div>
            </div>
            <div class="col-xs-3" style="text-align: center">
              <i class="pe-7s-like about-icon" [ngClass]="{'about-icon-unavailable': !book.favorite, 'favorite': book.favorite }"></i>
              <div class="text-muted" style="font-size: 0.8em" [ngClass]="{'about-icon-unavailable': !book.favorite, 'favorite': book.favorite }">Favorite</div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <label>Collections</label>
              <div>
                <p *ngIf="!book.collections" [ngClass]="{'unavailable': !book.collections }">
                  No collections
                </p>
                <ng-container *ngFor="let collection of book.collections; let lastItem = last">
                  <i class="pe-7s-notebook"></i>
                  <a
                    href="javascript:void(0);"
                    routerLink="/dashboard/collections"
                    [fragment]="removeSpaces(collection)"
                  > {{collection}}</a>
                  {{lastItem ? '' : ', '}}
                </ng-container>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <label>Genres</label>
              <div>
                <p *ngIf="!book.genres" [ngClass]="{'unavailable': !book.genres }">
                  No genres
                </p>
                <ng-container *ngFor="let genre of book.genres; let lastItem = last">
                  <i class="pe-7s-folder"></i>
                  <a
                    href="javascript:void(0);"
                    routerLink="/dashboard/books"
                    [queryParams]="{ grouping: 'genre' }"
                    [fragment]="removeSpaces(genre)"
                    queryParamsHandling="merge"                    
                  > {{genre}}</a>
                  {{lastItem ? '' : ', '}}
                </ng-container>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <label>Tags</label>
              <div>
                <p *ngIf="!book.tags" [ngClass]="{'unavailable': !book.tags }">
                  No tags
                </p>
                <ng-container *ngFor="let tag of book.tags; let lastItem = last">
                  <i class="pe-7s-ticket"></i>
                  <a
                    href="javascript:void(0);"
                    (click)="libraryService.toggleTagsDisplay(true)"
                    routerLink="/dashboard/books"
                    [queryParams]="{ tag: tag }"
                    queryParamsHandling="merge"
                  > {{tag}}</a>
                  {{lastItem ? '' : ', '}}
                </ng-container>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <label>Notes</label>
              <p [ngClass]="{'unavailable': !book.notes }">{{book.notes ? book.notes : 'Not available'}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-6" style="padding-top: 2px; padding-bottom: 2px">
          <button type="button" class="btn btn-danger" style="width: 100%" (click)="this.modal.openModal()">Delete</button>
        </div>
        <div class="col-xs-12 col-md-6" style="padding-top: 2px; padding-bottom: 2px">
          <button type="button" class="btn btn-default" style="width: 100%" routerLink="./edit">Edit</button>
        </div>
      </div>
    </div>
  </div>
</page-navigator>

<modal
  #deleteBookModal
  title="Are you sure you want to delete {{book.title}}?"
  content="This book will be removed permanently from your library."
  cancel="Cancel"
  accept="Accept"
  [onAccept]="deleteBook.bind(this)"
></modal>