<div class="card" *ngIf="hasBooks">
  <div class="header">
    <h4 class="title">Last added books</h4>
  </div>
  <div class="content">
    <loading [visible]="isLoading"></loading>
    <div class="row">
      <ng-container *ngFor="let book of latestBooks; let i = index;">
        <div class="col-md-3">
          <book-card
            [book]="book"
            [withButtons]="false"
            [linkable]="true"
          ></book-card>
        </div>
      </ng-container>
    </div>
  </div>
</div>