hr {
  margin: 16px 0;
}

.book-image {
  display: block;
  margin: auto;
  width: 300px;
}

.book-image > img {
  height: 58px;
  width: auto;
}

@media only screen and (max-width: 991px) {
  .book-image {
    width: 100%;
  }
}

.btn-collections {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.required {
  color: #9a9a9a;
}

.collections {
  padding: 5px 0;
  font-size: 12px;
}

.collection {
  margin: 0 4px;
}

.icon {
  font-weight: bold;
}

.close-icon {
  font-weight: bold;
  font-size: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.imported-from-gr {
  font-size: 16px;
  color: #9a9a9a;
  text-align: center;
}

.imported-from-gr > img {
  height: 20px;
  padding: 2px;
}

.goodreads-img {
  height: 16px;
}

.goodreads-img-disabled {
  opacity: 0.2;
}

.search-results {
  padding: 0;
  width: 100%;
  z-index: 1;
  max-height: 150px;
  border-color: #888888;
  border-radius: 4px;
  list-style: none;
  color: rgb(105, 105, 105);
  border: 1px solid #ccc;
  border-top: none;
  /*so things don't jump around*/
  position: absolute;
  left: 0;
  top: calc(50% + 20px);
  overflow-y: auto;
  background: #fff;
}

.result {
  cursor: pointer;
  min-height: 70px;
  text-align: left;
  display: flex;
  flex: 1;
  align-items: center;
  padding: 6px;
  color: #333333;
  font-size: 14px;
}

.result:hover {
  background: #f7f7f7;
}

.author-image {
  width: 10%;
}

.author-name {
  padding-left: 6px;
}
