hr {
  margin: 4px;
}

.collection-title {
  margin: 0;
  display: flex;
}

.buttons {
  text-align: right;
}

.btn-margin {
  margin: 0 8px 0 0;
}

.collapse-button {
  display: flex;
  align-items: center;
}

.collapse-button > i {
  font-size: 28px;
}

.no-books {
  font-style: italic;
  margin: 4px 0;
  padding: 0 0 10px 0;
}

.books {
  display: flex;
  flex-direction: column;
}
