.btn::-moz-placeholder {
  color: #dddddd;
  opacity: 1;
  filter: alpha(opacity=100);
}

.btn:-moz-placeholder {
  color: #dddddd;
  opacity: 1;
  filter: alpha(opacity=100);
}

.btn::-webkit-input-placeholder {
  color: #dddddd;
  opacity: 1;
  filter: alpha(opacity=100);
}

.btn:-ms-input-placeholder {
  color: #dddddd;
  opacity: 1;
  filter: alpha(opacity=100);
}

.btn {
  background-color: #ffffff;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  color: #565656;
  padding: 8px 12px;
  height: 40px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn:focus {
  background-color: #ffffff;
  border: 1px solid #aaaaaa;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0 !important;
  color: #333333;
}

.btn-success {
  color: #fff;
  background-color: #18b518;
  border-color: #4cae4c;
}

.btn-success:focus {
  color: #fff;
  background-color: #449d44;
  border-color: #255625;
}

.btn-success:hover {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}

.btn-danger {
  color: #fff;
  background-color: #e60e09;
  border-color: #d43f3a;
}

.btn-danger.focus {
  color: #fff;
  background-color: #c9302c;
  border-color: #761c19;
}

.btn-danger:hover {
  color: #fff;
  background-color: #dc3a36;
  border-color: #ac2925;
}

.collection-title {
  margin: 0;
  display: flex;
}

hr {
  margin: 4px;
}

.buttons {
  text-align: right;
}

.btn-margin {
  margin: 0 8px 0 0;
}

.collapse-button {
  display: flex;
  align-items: center;
}

.collapse-button > i {
  font-size: 28px;
}

.no-books {
  font-style: italic;
  margin: 4px 0;
  padding: 0 0 10px 0;
}

.books {
  display: flex;
  flex-direction: column;
}
