<div style="display: grid">
  <!-- Buttons -->
  <div *ngIf="books && books.length > 0" class="row buttons">
    <div class="col-md-12" style="display: flex;">
      <button type="button" class="btn btn-default btn-margin" (click)="toggleTilesDisplay()">
        <i [ngClass]="{'ti-view-list': tilesDisplay, 'ti-layout-grid2': !tilesDisplay}"></i>
        {{tilesDisplay ? 'Table' : 'Tiles'}}
      </button>
      <button
        *ngIf="selectable"
        type="button"
        class="btn btn-margin"
        [ngClass]="{'btn-success': !selectedAll, 'btn-danger': selectedAll}"
        (click)="selectAll()"
      >
        {{selectedAll ? 'Deselect all' : 'Select all'}}
      </button>
      <div class="input-group btn-margin">
        <input type="text" class="form-control" placeholder="Search" [formControl]="searchInput">
        <span class="input-group-addon" id="sizing-addon2">
          <i class="pe-7s-search search-icon"></i>
        </span>
      </div>
    </div>
  </div>
  <!-- Tiles -->
  <ng-container *ngIf="tilesDisplay">
    <books-section
      [books]="books | searchFilter: searchValue:['title', 'author'] | page: page:maxBooks"
      [withButtons]="withButtons"
      [clickable]="clickable"
      [selectable]="selectable"
      [linkable]="linkable"
      [selectBtnContent]="selectBtnContent"
      [selectBtnContentDisabled]="selectBtnContentDisabled"
      (selectedBooks)="selectedBooks.emit($event)"
      (selectedBook)="selectedBook.emit($event)"
    ></books-section>
  </ng-container>
  <!-- Table -->
  <ng-container *ngIf="!tilesDisplay && books && books.length > 0">
    <table-items [items]="tableDisplayItems" (displayItems)="tableDisplayItems=$event"></table-items>
    <books-table
      [displayItems]="tableDisplayItems"
      [books]="books | searchFilter: searchValue:['title', 'author'] | page:page:maxBooks"
      [withButtons]="withButtons"
      [clickable]="clickable"
      [selectable]="selectable"
      [linkable]="linkable"
      [statusIncluded]="statusIncluded"
      [statusNotIncluded]="statusNotIncluded"
      [statusCannotBeSelected]="statusCannotBeSelected"
      (selectedBooks)="selectedBooks.emit($event)"
      (selectedBook)="selectedBook.emit($event)"
    ></books-table>
  </ng-container>
  <!-- Pages -->
  <pages
    [count]="pageCount"
    [withRoute]="false"
    (nextSelectedPage)="page = $event"
  ></pages>
</div>

