<!-- Row of book cards -->
<books-section
  [books]="books.slice(0, 4)"
  [clickable]="clickable"
  [selectable]="selectable"
  [linkable]="linkable"
  [selectBtnContent]="selectBtnContent"
  [selectBtnContentDisabled]="selectBtnContentDisabled"
  [withButtons]="withButtons"
  (selectedBooks)="updateSelectedBooks($event)"
  (selectedBook)="updateSelectedBook($event)"
></books-section>  
<div *ngIf="books && books.length > 0">
  <a href="#displayMore" data-toggle="collapse" (click)="displayAll = !displayAll">
    <label style="padding:0;">{{displayAll ? 'Display less ' : 'Display more '}}</label>
    <i [ngClass]="{'pe-7s-angle-down': !displayAll, 'pe-7s-angle-up': displayAll}" style="font-size: 1.3em;"></i>
  </a>
  <hr style="margin-top: 0;">
</div>
<div class="collapse" id="displayMore">
  <books-section
    [books]="books.slice(4)"
    [clickable]="clickable"
    [selectable]="selectable"
    [linkable]="linkable"
    [selectBtnContent]="selectBtnContent"
    [selectBtnContentDisabled]="selectBtnContentDisabled"
    [withButtons]="withButtons"
    (selectedBooks)="updateSelectedBooks($event)"
    (selectedBook)="updateSelectedBook($event)"
  ></books-section>
</div>