<div class='books-display'>
  <!-- Buttons -->
  <div *ngIf="books && books.length" class="buttons">
    <button type="button" class="button" (click)="toggleTilesDisplay()">
      <i
        class='toggle-icon'
        [ngClass]="{
          'ti-view-list': tilesDisplay,
          'ti-layout-grid2': !tilesDisplay
        }"
      ></i>
      {{ tilesDisplay ? 'Table' : 'Tiles' }}
    </button>
    <button
      *ngIf="selectable"
      type="button"
      class="button"
      [ngClass]="{ success: !selectedAll, danger: selectedAll }"
      (click)="selectAll()"
    >
      {{ selectedAll ? 'Deselect all' : 'Select all' }}
    </button>
    <button
      *ngIf="displayOnlySelectedBtn"
      type="button"
      class="button"
      [ngClass]="{ success: !onlySelected, danger: onlySelected }"
      (click)="onlySelected = !onlySelected"
    >
      {{ onlySelected ? 'All books' : 'Only books in collection' }}
    </button>
    <div
      class="input search-bar"
      [ngClass]="{ 'full-search-bar': fullSearchBar }"
    >
      <input
        type="text"
        class="icon-left"
        placeholder="Search"
        [formControl]="searchInput"
      />
      <i class="ti-search left"></i>
    </div>
  </div>
  <!-- Tiles -->
  <ng-container *ngIf="tilesDisplay">
    <books-section
      [books]="
        books
          | bookFilter: (onlySelected ? 'isSelected' : null)
          | searchFilter: searchValue:['title', 'author', 'original']
          | page: page:maxBooksPerPage
      "
      [cardsInRow]="bookCardsInRow"
      [withButtons]="withButtons"
      [clickable]="clickable"
      [selectable]="selectable"
      [linkable]="linkable"
      (selectedBooks)="selectedBooks.emit($event)"
      (onClick)="onClick.emit($event)"
    ></books-section>
  </ng-container>
  <!-- Table -->
  <ng-container *ngIf="!tilesDisplay && books && books.length > 0">
    <table-items
      [items]="tableDisplayItems"
      (displayItems)="tableDisplayItems = $event"
    ></table-items>
    <books-table
      [displayItems]="tableDisplayItems"
      [books]="
        books
          | bookFilter: (onlySelected ? 'isSelected' : null)
          | searchFilter: searchValue:['title', 'author', 'original']
          | page: page:maxBooksPerPage
      "
      [withButtons]="withButtons"
      [clickable]="clickable"
      [selectable]="selectable"
      [linkable]="linkable"
      (selectedBooks)="selectedBooks.emit($event)"
      (onClick)="onClick.emit($event)"
    ></books-table>
  </ng-container>
  <!-- Can't be selected info -->
  <div *ngIf="displayBooksInLibraryInfo" class="row">
    <div class="col-md-12 not-selectable">
      <div class="col-md-12">
        <i class="ti-info-alt"></i>
        These books are already in your library
      </div>
    </div>
  </div>
  <!-- Pages -->
  <pages
    *ngIf="books && books.length"
    [count]="pageCount"
    [withRoute]="false"
    (nextSelectedPage)="page = $event"
  ></pages>
</div>
