<div
  class="container"
  *ngIf="!!sectionTitle"
  id="{{ removeSpaces(sectionTitle) }}"
>
  <h4 class="title">
    {{ sectionTitle }}
    <input
      class="toggle-checkbox"
      type="checkbox"
      id="_{{ removeSpaces(sectionTitle) }}"
    />
    <label
      class="toggle-icon"
      for="_{{ removeSpaces(sectionTitle) }}"
      [ngClass]="{ toggled: !displayAll }"
    >
      <i (click)="displayAll = !displayAll" class="ti-angle-down"></i>
    </label>
  </h4>
  <hr />
</div>

<div class="books-container" [ngClass]="{ collapsed: !displayAll }">
  <grid [items]="authors" [itemsInRow]="cardsInRow">
    <ng-template let-item>
      <author-card
        [author]="item"
        [clickable]="clickable"
        [linkable]="linkable"
        (onClick)="onClick.emit($event)"
      ></author-card>
    </ng-template>
  </grid>
</div>
