i {
  padding-right: 4px;
}

.connected {
  font-size: 16px;
}

.row {
  padding: 2px 0
}

.justify {
  display: flex;
  justify-content: space-between;
  padding: 0 35px;
  font-weight: 400;
}

.alert {
  flex-direction: row;
  justify-content: flex-start;
  margin: 8px 0;
}

.alert > a {
  font-weight: bold;
  text-decoration: underline;
  color: white;
}
