<!-- Navbar -->
<div class="card">
  <div class="content">
    <nav class="navbar">
      <ul class="nav navbar-nav">
        <!-- Buttons -->
        <!-- <li [ngClass]="{'active': localUrlPath === 'books', 'library-nav-btn': true, 'left': true}">
          <a href="javascript:void(0);" routerLink="./books">
          <i class="pe-7s-bookmarks" style="vertical-align:middle; font-size: 1.4em;"></i> Books</a>
        </li>
        <li [ngClass]="{'active': localUrlPath === 'collections', 'library-nav-btn': true}">
          <a href="javascript:void(0);" routerLink="./collections">
          <i class="pe-7s-box1" style="vertical-align:middle; font-size: 1.4em;"></i> Collections</a>
        </li> -->
        <!-- Search -->
        <li style="text-align: right">
          <div class="input-group" style="width: 250px">
            <input type="text" class="form-control" placeholder="Search">
            <span class="input-group-addon" id="sizing-addon2">
              <i class="pe-7s-search" style="vertical-align:middle; font-size: 1.4em;"></i>
            </span>
          </div>
        </li>
        <!-- Grouping -->
        <li>
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              {{selectedGrouping}}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li style="padding: 8px 16px">Select grouping</li>
              <li role="separator" class="divider"></li>
              <li *ngFor="let grouping of groupings">
                <a href="javascript:void(0);" (click)="setGrouping(grouping)">
                  {{grouping}}
                </a>
              </li>
            </ul>
          </div>
        </li>
        <!-- Filtering -->
        <li>
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              {{selectedFilter}}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <li style="padding: 8px 16px">Select filter</li>
              <li role="separator" class="divider"></li>
              <li *ngFor="let filter of filters">
                <a href="javascript:void(0);" (click)="setFilter(filter)">
                  {{filter}}
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="library-nav-right">
          <ul>
            <li class="text-center">
              <!-- Tiles or Table -->
              <button
                type="button"
                class="btn btn-default library-nav-tile"
                (click)="toggleTilesDisplay()"
                style="margin: 10px 5px"
                [tooltip]="tilesDisplay ? 'Display as tables' : 'Display as cards'"
                [tooltipAnimation]="true"
                placement="top"
              >
                <span *ngIf="tilesDisplay" class="ti-view-list" aria-hidden="true"></span>
                <span *ngIf="!tilesDisplay" class="ti-layout-grid2" aria-hidden="true"></span>
              </button>
              <!-- Add book -->
              <button type="button" class="btn btn-success library-nav-tile" routerLink="{{router.url.split('?')[0]}}/new" style="margin: 10px 5px">
                <span class="ti-plus" aria-hidden="true"></span>
                {{addButtonContent}}
              </button>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</div>