<div class="navbar">
  <div class="navbar-left">
    <div *ngIf="groupings && groupings.length" class="dropdown">
      <input class="dropdown-checkbox" type="checkbox" id="groupingdropdowncheckbox" />
      <label for="groupingdropdowncheckbox">{{ selectedGrouping }}</label>
      <div class="dropdown-menu">
        <div class="dropdown-menu-inner">
          <label
            *ngFor="let grouping of groupings"
            for="groupingdropdowncheckbox"
            class="dropdown-item"
            (click)="setGrouping(grouping)"
          >
            {{ grouping }}
          </label>
        </div>
      </div>
    </div>
    <div *ngIf="filters && filters.length" class="dropdown">
      <input class="dropdown-checkbox" type="checkbox" id="filterdropdowncheckbox" />
      <label for="filterdropdowncheckbox">{{ selectedFilter }}</label>
      <div class="dropdown-menu">
        <div class="dropdown-menu-inner">
          <label
            *ngFor="let filter of filters"
            for="filterdropdowncheckbox"
            class="dropdown-item"
            (click)="setFilter(filter)"
          >
            {{ filter }}
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar-right">
    <!-- Tiles or Table -->
    <i
      type="button"
      class="button tile-icon"
      (click)="toggleTilesDisplay()"
      [ngClass]="{ 'ti-view-list': tilesDisplay, 'ti-layout-grid2': !tilesDisplay }"
    >
    <!-- [tooltip]="
        tilesDisplay ? 'Display as tables' : 'Display as tiles'
      "
      placement="top"
      [tooltipAnimation]="true" -->
    </i>
    <!-- Add book -->
    <i
      type="button"
      class="ti-plus button tile-icon success"
      routerLink="{{ router.url.split('?')[0] }}/new"
    >
  </i>
  </div>
</div>