img {
  max-height: 52px;
  padding: 4px;
}

.form-group {
  margin-bottom: 0;
}

.form-group > input {
  height: 32px;
}

.form-group > label {
  font-size: 11px;
}

.help-block {
  font-size: 14px;
}

.content {
  padding-top: 0;
}

.separator-with-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.separator-with-text .text,
hr {
  margin: 8px 0;
  text-transform: uppercase;
  text-align: center;
  font-weight: 200;
}

.separator-with-text hr,
.separator-with-text h5 {
  flex: 1;
}

.btn-social {
  text-align: center;
}
