<!-- <div class="card"> -->
  <div class="header">
    <h4 class="title">Create account</h4>
  </div>
  <div class="content">
    <form [formGroup]="signUpForm" (ngSubmit)="signUp(signUpForm.value)">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group" [ngClass]="{'has-error': !signUpForm.controls['signUpName'].valid && signUpForm.controls['signUpName'].touched}">
            <label>Name</label>
            <input type="text" class="form-control" formControlName="signUpName">
            <span class="help-block" *ngIf="!signUpForm.controls['signUpName'].valid && signUpForm.controls['signUpName'].touched">
              Please enter a valid name.
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group" [ngClass]="{'has-error': !signUpForm.controls['signUpEmail'].valid && signUpForm.controls['signUpEmail'].touched}">
            <label>E-mail</label>
            <input type="text" class="form-control" formControlName="signUpEmail">
            <span class="help-block" *ngIf="!signUpForm.controls['signUpEmail'].valid && signUpForm.controls['signUpEmail'].touched">Please enter a valid e-mail.</span>
          </div>
        </div>
      </div>
      <div class="row">      
        <div class="col-xs-12">
          <div class="form-group" [ngClass]="{'has-error': !signUpForm.controls['signUpPassword'].valid && signUpForm.controls['signUpPassword'].touched}">
            <label>Password</label>
            <input type="password" class="form-control" formControlName="signUpPassword">
            <span class="help-block" *ngIf="!signUpForm.controls['signUpPassword'].valid && signUpForm.controls['signUpPassword'].touched">
              Please enter a valid password. Password must be at least 6 characters long.
            </span>
          </div>
        </div>
      </div>
      <div class="row">      
        <div class="col-xs-12">
          <div class="form-group" [ngClass]="{'has-error': !signUpForm.controls['signUpConfirmPassword'].valid && signUpForm.controls['signUpConfirmPassword'].touched}">
            <label>Confirm password</label>
            <input type="password" class="form-control" formControlName="signUpConfirmPassword">
            <span class="help-block" *ngIf="!signUpForm.controls['signUpConfirmPassword'].valid && signUpForm.controls['signUpConfirmPassword'].touched">
              Password doesn't match.
            </span>
          </div>
        </div>
      </div>
      <div>
        <button style="width: 100%;" type="submit" class="btn btn-success" [disabled]="!signUpForm.valid">Create account</button>
      </div>
    </form>
    <div class="separator-with-text">
      <hr>
      <h5 class="text">Sign up with</h5>
      <hr>
    </div>
    <div>
      <a href="javascript:void(0);" (click)="loginGoogle()">
        <img
          src="/assets/img/Flat/Social buttons by Dreamstale (5).svg"
          alt="Login with Google"
        >
      </a>
      <a href="javascript:void(0);" (click)="loginFacebook()">
        <img
          src="/assets/img/Flat/Social buttons by Dreamstale (2).svg"
          alt="Login with Facebook"
        >
      </a>
    </div>
  </div>
<!-- </div> -->