.form-group {
  margin-bottom: 0;
}

.form-group > input {
  height: 32px;
}

.form-group > label {
  font-size: 11px;
}

.help-block {
  font-size: 14px;
}

.content {
  padding-top: 0;
}

.separator-with-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.separator-with-text .text, hr {
  margin: 8px 0;
  text-transform: uppercase;
  text-align: center;
  font-weight: 200;
}

.separator-with-text hr, .separator-with-text h5 {
  flex: 1
}

img {
  max-height: 52px;
  padding: 4px;
}

.btn-success {
  color: #fff;
  background-color: #18b518;
  border-color: #4cae4c;
}

.btn-success:focus {
  color: #fff;
  background-color: #449d44;
  border-color: #255625;
}

.btn-success:hover {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}