<div class="card">
  <div class="header">
    <h4 class="title">Search authors</h4>
  </div>
  <div class="content">
    <loading [visible]="isLoading"></loading>
    <form [formGroup]="form" class="search-container" (ngSubmit)="submit(form.value)">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search" formControlName="searchInput">
        <span class="input-group-addon" id="sizing-addon2">
          <i class="pe-7s-search search-icon"></i>
        </span>
      </div>
      <button
        type="submit"
        class="btn btn-primary btn-margin"
      >Search</button>
    </form>
    <hr *ngIf="!isLoading && authors && authors.length">
    <div class="authors-display" *ngIf="!isLoading && authors && authors.length">
      <authors-display
        [fullSearchBar]="true"
        [maxAuthors]="4"
        [cardsInRow]="2"
        [tilesDisplay]="false"
        [authors]="authors"
        [clickable]="true"
        (onClick)="selectAuthor($event)"
      ></authors-display>
    </div>
  </div>
</div>
