p {
  font-size: 16px;
  color: #ffffff;
  font-weight: 200;
}

li > a:hover > p {
  color: #aaaaaa;
}

.navbar-default {
  background: rgb(9, 41, 53);
  margin-bottom: 0;
}

.brand-with-icon {
  display: flex;
  align-items: center;
}

.icon-brand {
  height: 28px;
  width: auto;
  padding: 0 4px;
}

.bold {
  font-weight: 400;
}

.brand {
  font-size: 20px;
  line-height: 1;
}
