<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="brand-with-icon">
        <img class="icon-brand" src="./assets/img/angular2-logo.png" alt="BookLib" />
        <a
          class="navbar-brand"
          routerLink="/home"
          href="javascript:void(0);"
        >
        <p class="bold brand">
          BookLib
        </p>
        </a>
      </div>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a class="hover" href="javascript:void(0);" (click)="showSignIn = !showSignIn">
          <p>Sign in</p>
        </a>
        <popover-container [show]="showSignIn" (onBlur)="showSignIn = false">
          <sign-in></sign-in>
        </popover-container>
      </li>
      <li>
        <a class="hover" href="javascript:void(0);" (click)="showSignUp = !showSignUp">
          <p class="bold">Sign up</p>
        </a>
        <popover-container [show]="showSignUp" (onBlur)="showSignUp = false">
          <sign-up></sign-up>
        </popover-container>
      </li>
      <li class="separator hidden-lg hidden-md"></li>
    </ul>
  </div>
</nav>  