<label>Language</label>
<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    {{selectedLanguage}}
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li *ngFor="let language of languages; let i = index">
      <a href="javascript:void(0);" (click)="selectedLanguage = languages[i]">
        {{language}}
      </a>
    </li>
  </ul>
</div>