<div class="wrapper" [ngClass]="{ 'dark-theme': dark }">
  <div>
    <h1>Heading 1</h1>
    <h2>Heading 2</h2>
    <h3>Heading 3</h3>
    <h4>Heading 4</h4>
    <h5>Heading 5</h5>
    <h6>Heading 6</h6>
  </div>
  <div>
    Apparently we had reached a great height in the atmosphere, for the sky was
    a dead black, and the stars had ceased to twinkle.
  </div>
  <div class="small typography-padding">
    Apparently we had reached a great height in the atmosphere, for the sky was
    a dead black, and the stars had ceased to twinkle.
  </div>
  <div class="tiny typography-padding">
    Apparently we had reached a great height in the atmosphere, for the sky was
    a dead black, and the stars had ceased to twinkle.
  </div>
  <div class="capitalized typography-padding">
    Find an alternative
  </div>
  <div class="typography-wrapper">
    <span class="typography-padding" style="font-weight: 700"
      >Inter - Bold</span
    >
    <span class="typography-padding" style="font-weight: 600"
      >Inter - SemiBold</span
    >
    <span class="typography-padding" style="font-weight: 500"
      >Inter - Medium</span
    >
    <span class="typography-padding" style="font-weight: 400"
      >Inter - Regular</span
    >
  </div>
  <div class="cards-wrapper">
    <div class="card elevation-99 card-example"></div>
    <div class="card elevation-01 card-example"></div>
    <div class="card elevation-02 card-example"></div>
    <div class="card elevation-03 card-example"></div>
    <div class="card elevation-04 card-example"></div>
    <div class="card elevation-05 card-example"></div>
    <div class="card elevation-06 card-example"></div>
  </div>
  <div class="buttons-wrapper">
    <button class="small button button-padding">Default</button>
    <button class="small button button-padding success">Success</button>
    <button class="small button button-padding danger">Danger</button>
    <button class="small button button-padding clear">Clear</button>
    <button class="small button button-padding" disabled>Disabled</button>
    <button class="small button button-padding">
      <i class="pe-7s-add-user"></i>
      Icon
    </button>
  </div>
  <div class="buttons-wrapper">
    <button class="button button-padding">Default</button>
    <button class="button button-padding success">Success</button>
    <button class="button button-padding danger">Danger</button>
    <button class="button button-padding clear">Clear</button>
    <button class="button button-padding" disabled>Disabled</button>
    <button class="button button-padding">
      <i class="pe-7s-add-user"></i>
      Icon
    </button>
  </div>
  <div class="buttons-wrapper">
    <button class="button inverted button-padding">Default</button>
    <button class="button inverted button-padding success">Success</button>
    <button class="button inverted button-padding danger">Danger</button>
    <button class="button inverted button-padding" disabled>Disabled</button>
    <button class="button inverted button-padding">
      <i class="pe-7s-add-user"></i>
      Icon
    </button>
  </div>
  <div class="buttons-wrapper">
    <button class="large button button-padding">Default</button>
    <button class="large button button-padding success">Success</button>
    <button class="large button button-padding danger">Danger</button>
    <button class="large button button-padding clear">Danger</button>
    <button class="large button button-padding" disabled>Disabled</button>
    <button class="large button button-padding">
      <i class="pe-7s-add-user"></i>
      Icon
    </button>
  </div>
  <div class="buttons-wrapper">
    <button class="rounded button small button-padding">Small</button>
    <button class="rounded button button-padding">Default</button>
    <button class="rounded button large button-padding">Large</button>
    <button class="rounded button button-padding" disabled>Disabled</button>
    <button class="rounded button icon button-padding">
      <i class="pe-7s-alarm"></i>
    </button>
  </div>
  <div class="accordion">
    <input class="accordion-item-checkbox" type="checkbox" id="_checkbox1" />
    <div class="accordion-item">
      <label for="_checkbox1">Item 1<i class="pe-7s-angle-down"></i></label>
      <div class="content">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five
        centuries, but also the leap into electronic typesetting, remaining
        essentially unchanged. It was popularised in the 1960s with the release
        of Letraset sheets containing Lorem Ipsum passages, and more recently
        with desktop publishing software like Aldus PageMaker including versions
        of Lorem Ipsum.
      </div>
    </div>
    <input class="accordion-item-checkbox" type="checkbox" id="_checkbox2" />
    <div class="accordion-item">
      <label for="_checkbox2">Item 2<i class="pe-7s-angle-down"></i></label>
      <div class="content">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five
        centuries, but also the leap into electronic typesetting, remaining
        essentially unchanged. It was popularised in the 1960s with the release
        of Letraset sheets containing Lorem Ipsum passages, and more recently
        with desktop publishing software like Aldus PageMaker including versions
        of Lorem Ipsum.
      </div>
    </div>
  </div>
  <div class="alert">
    <span class="message">Some text here</span>
  </div>
  <div class="alert dismissable">
    <span class="message">Some text here</span>
  </div>
  <div class="alert icon-right">
    <span class="message">Some text here</span>
  </div>
  <div class="alert icon-left">
    <span class="message">Some text here</span>
  </div>
  <div class="alert icon-left dismissable">
    <span class="message">Some text here</span>
  </div>
  <div class="alert">
    <span class="message"
      >Some text here<button class="button small inverted">
        Execute
      </button></span
    >
  </div>
  <div class="alert">
    <span class="header">Alert Header</span>
    <span class="message">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book.
    </span>
    <button class="button small inverted">Execute</button>
  </div>
  <div class="alert success">
    <span class="message">Some text here</span>
  </div>
  <div class="alert success dismissable">
    <span class="message">Some text here</span>
  </div>
  <div class="alert success icon-right">
    <span class="message">Some text here</span>
  </div>
  <div class="alert success icon-left">
    <span class="message">Some text here</span>
  </div>
  <div class="alert success icon-left dismissable">
    <span class="message">Some text here</span>
  </div>
  <div class="alert success">
    <span class="message"
      >Some text here<button class="button small inverted success">
        Execute
      </button></span
    >
  </div>
  <div class="alert success">
    <span class="header">Alert Header</span>
    <span class="message">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book.
    </span>
    <button class="button small inverted success">Execute</button>
  </div>
  <div class="alert danger">
    <span class="message">Some text here</span>
  </div>
  <div class="alert danger dismissable">
    <span class="message">Some text here</span>
  </div>
  <div class="alert danger icon-right">
    <span class="message">Some text here</span>
  </div>
  <div class="alert danger icon-left">
    <span class="message">Some text here</span>
  </div>
  <div class="alert danger icon-left dismissable">
    <span class="message">Some text here</span>
  </div>
  <div class="alert danger">
    <span class="message"
      >Some text here<button class="button small inverted danger">
        Execute
      </button></span
    >
  </div>
  <div class="alert danger">
    <span class="header">Alert Header</span>
    <span class="message">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book.
    </span>
    <button class="button small inverted danger">Execute</button>
  </div>
  <div class="alert warning">
    <span class="message">Some text here</span>
  </div>
  <div class="alert warning dismissable">
    <span class="message">Some text here</span>
  </div>
  <div class="alert warning icon-right">
    <span class="message">Some text here</span>
  </div>
  <div class="alert warning icon-left">
    <span class="message">Some text here</span>
  </div>
  <div class="alert warning icon-left dismissable">
    <span class="message">Some text here</span>
  </div>
  <div class="alert warning">
    <span class="message"
      >Some text here<button class="button small inverted warning">
        Execute
      </button></span
    >
  </div>
  <div class="alert warning">
    <span class="header">Alert Header</span>
    <span class="message">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book.
    </span>
    <button class="button small inverted warning">Execute</button>
  </div>
  <div class="chips-wrapper">
    <div class="chip chip-padding">Chip</div>
    <div class="chip chip-padding chip-color">Chip</div>
    <div class="chip chip-padding chip-color-dark">Chip</div>
  </div>
  <div class="chips-wrapper">
    <div class="chip chip-padding dismissable">Chip</div>
    <div class="chip chip-padding chip-color dismissable">Chip</div>
    <div class="chip chip-padding chip-color-dark dismissable">Chip</div>
  </div>
  <div class="chips-wrapper">
    <div class="chip chip-padding "><i class="pe-7s-alarm"></i>Chip</div>
    <div class="chip chip-padding chip-color">
      <i class="pe-7s-alarm"></i>Chip
    </div>
    <div class="chip chip-padding chip-color-dark">
      <i class="pe-7s-alarm"></i>Chip
    </div>
  </div>
  <div class="badges-wrapper">
    <div class="badge badge-padding">Primary</div>
    <div class="badge badge-padding info">Info</div>
    <div class="badge badge-padding success">Success</div>
    <div class="badge badge-padding danger">Danger</div>
    <div class="badge badge-padding warning">Warning</div>
  </div>
  <div class="checkboxes-wrapper">
    <input
      type="checkbox"
      id="checkbox1"
      class="checkbox checkbox-padding"
    /><label for="checkbox1">Checkbox</label>
    <input
      type="checkbox"
      id="checkbox2"
      class="checkbox checkbox-padding"
      checked
    /><label for="checkbox2">Checkbox</label>
    <input
      type="checkbox"
      id="checkbox3"
      class="checkbox checkbox-padding"
      disabled
    /><label for="checkbox3">Checkbox</label>
    <input
      type="checkbox"
      id="checkbox4"
      class="checkbox checkbox-padding"
      checked
      disabled
    /><label for="checkbox4">Checkbox</label>
  </div>
  <div class="checkboxes-wrapper">
    <input
      type="radio"
      name="example"
      id="radio1"
      class="checkbox checkbox-padding"
    /><label for="radio1">Radio</label>
    <input
      type="radio"
      name="example"
      id="radio2"
      class="checkbox checkbox-padding"
      checked
    /><label for="radio2">Radio</label>
    <input
      type="radio"
      name="example"
      id="radio3"
      class="checkbox checkbox-padding"
      disabled
    /><label for="radio3">Radio</label>
    <input
      type="radio"
      name="example"
      id="radio4"
      class="checkbox checkbox-padding"
      checked
      disabled
    /><label for="radio4">Radio</label>
  </div>
  <div class="checkboxes-wrapper">
    <input
      type="checkbox"
      name="example"
      id="switch1"
      class="switch checkbox-padding"
    /><label for="switch1">Switch</label>
    <input
      type="checkbox"
      name="example"
      id="switch2"
      class="switch checkbox-padding"
      checked
    /><label for="switch2">Switch</label>
    <input
      type="checkbox"
      name="example"
      id="switch3"
      class="switch checkbox-padding"
      disabled
    /><label for="switch3">Switch</label>
    <input
      type="checkbox"
      name="example"
      id="switch4"
      class="switch checkbox-padding"
      checked
      disabled
    /><label for="switch4">Switch</label>
  </div>
  <div class="labels-wrapper">
    <label class="label-padding label label-small">Label small</label>
    <label class="label-padding label">Label regular</label>
    <label class="label-padding label label-large">Label large</label>
    <label class="label-padding label label-small"
      ><i class="pe-7s-album icon-left"></i>Label</label
    >
    <label class="label-padding label"
      ><i class="pe-7s-album icon-left"></i>Label</label
    >
    <label class="label-padding label label-large"
      ><i class="pe-7s-album icon-left"></i>Label</label
    >
    <label class="label-padding label label-small"
      ><i class="pe-7s-angle-left icon-left primary"></i>Label<i
        class="pe-7s-angle-right icon-right primary"
      ></i
    ></label>
    <label class="label-padding label"
      ><i class="pe-7s-angle-left icon-left primary"></i>Label<i
        class="pe-7s-angle-right icon-right primary"
      ></i
    ></label>
    <label class="label-padding label label-large"
      ><i class="pe-7s-angle-left icon-left primary"></i>Label<i
        class="pe-7s-angle-right icon-right primary"
      ></i
    ></label>
  </div>
  <div class="dropdown">
    <input class="dropdown-checkbox" type="checkbox" id="_dropdowncheckbox" />
    <label for="_dropdowncheckbox">Dropdown Menu</label>
    <div class="dropdown-menu">
      <div class="dropdown-menu-inner">
        <label for="_dropdowncheckbox" class="dropdown-item">Item 1</label>
        <label for="_dropdowncheckbox" class="dropdown-item">Item 2</label>
        <label for="_dropdowncheckbox" class="dropdown-item">Item 3</label>
        <label for="_dropdowncheckbox" class="dropdown-item">Item 4</label>
        <label for="_dropdowncheckbox" class="dropdown-item">Item 5</label>
        <label for="_dropdowncheckbox" class="dropdown-item">Item 6</label>
        <label for="_dropdowncheckbox" class="dropdown-item">Item 7</label>
      </div>
    </div>
  </div>
  <div class="input-wrapper">
    <div class="input input-padding">
      <input type="text" placeholder="Placeholder" />
    </div>
    <div class="input input-padding">
      <input type="text" placeholder="Required" required />
    </div>
    <div class="input input-padding">
      <input type="text" placeholder="Disabled" disabled />
    </div>
    <div class="input input-padding">
      <input class="icon-left" type="text" placeholder="Icon left" /><i
        class="pe-7s-disk left"
      ></i>
    </div>
    <div class="input input-padding">
      <input class="icon-right" type="text" placeholder="Icon right" /><i
        class="pe-7s-bookmarks right"
      ></i>
    </div>
    <div class="input input-padding">
      <label class="label">Label</label>
      <input type="text" placeholder="Label" />
    </div>
    <div class="input input-padding">
      <input type="text" placeholder="Assistive text" />

      <label class="info"
        ><i class="pe-7s-info info-icon"></i>Assistive info text</label
      >
    </div>
  </div>
  <div class="input input-padding">
    <input class="icon-left icon-left" type="email" placeholder="E-mail" />
    <i class="pe-7s-mail left"></i>
  </div>
  <div class="input input-padding">
    <i class="pe-7s-lock left"></i>
    <input
      class="icon-left icon-right"
      type="password"
      placeholder="Password"
    />
    <i class="pe-7s-look right clickable"></i>
  </div>
  <div class="input search input-padding">
    <input class="icon-left" type="text" placeholder="Search" />
    <i class="pe-7s-search left"></i>
  </div>
  <div class="input search input-padding">
    <textarea placeholder="Textarea"></textarea>
  </div>
  <div class="modal modal-padding">
    Are you sure you want to delete these files?
    <br />This cannot be reverted.
    <div class="buttons">
      <button class="button clear">Cancel</button>
      <button class="button">Accept</button>
    </div>
  </div>
  <div class="modal vertical modal-padding">
    Are you sure you want to delete these files?
    <br />This cannot be reverted.
    <div class="buttons">
      <button class="button large clear">Cancel</button>
      <button class="button large">Accept</button>
    </div>
  </div>
  <div class="modal dismissable modal-padding">
    <i class="pe-7s-close dismiss"></i>
    Are you sure you want to delete these files?
    <br />This cannot be reverted.
    <div class="buttons">
      <button class="button clear">Learn More</button>
    </div>
  </div>
  <div class="modal dismissable modal-padding">
    <i class="pe-7s-close dismiss"></i>
    Are you sure you want to delete these files?
    <br />This cannot be reverted.
    <div class="checkbox-wrapper">
      <input type="checkbox" id="modalcheckbox" class="checkbox" /><label
        for="modalcheckbox"
        >Don't show again</label
      >
      <button class="button">Learn More</button>
    </div>
  </div>
  <div class="modal modal-padding">
    <h6 class="header">Are you sure you want to delete these files?</h6>
    <br />This cannot be reverted.
    <div class="buttons">
      <button class="button clear">Cancel</button>
      <button class="button">Accept</button>
    </div>
  </div>
  <div class="modal danger modal-padding">
    <h6 class="header">Are you sure you want to delete these files?</h6>
    <br />This cannot be reverted.
    <div class="buttons">
      <button class="button clear">Cancel</button>
      <button class="button danger">Delete</button>
    </div>
  </div>
  <div class="sidebar-wrapper">
    <div class="sidebar">
      <div class="sidebar-toggle-header">
        <i class="pe-7s-menu"></i>
      </div>
      <div class="sidebar-top">
        <h6 class="sidebar-header">
          <i class="pe-7s-global main-icon"></i>BOOKLIB
        </h6>
        <hr class="sidebar-divider" />
        <a class="sidebar-button">
          <i class="pe-7s-home"></i>
          Home
        </a>
        <a class="sidebar-button">
          <i class="pe-7s-user"></i>
          Profile
        </a>
        <a class="sidebar-button">
          <i class="pe-7s-mail"></i>
          Messages
        </a>
        <a class="sidebar-button">
          <i class="pe-7s-settings"></i>
          Settings
        </a>
      </div>
      <div class="sidebar-bottom">
        <hr class="sidebar-divider" />
        <a class="sidebar-button">
          <i class="pe-7s-power"></i>
          Logout
        </a>
      </div>
    </div>
  </div>
  <div class="navbar">
    <div class="navbar-left">
      <label class="label"
        ><i class="pe-7s-global icon-left primary"></i>Booklib</label
      >
    </div>
    <div class="navbar-center">
      <div class="input search input-padding">
        <input class="icon-left" type="text" placeholder="Search" />
        <i class="pe-7s-search left"></i>
      </div>
    </div>
    <div class="navbar-right">
      <button class="button">Login</button>
    </div>
  </div>
  <div class="navbar">
    <div class="navbar-left">
      <i
        class="pe-7s-menu primary"
        style="font-weight: 600; font-size: var(--large-font-size);"
      ></i>
    </div>
    <div class="navbar-center">
      <label class="label"
        ><i class="pe-7s-global icon-left primary"></i>Booklib</label
      >
    </div>
    <div class="navbar-right">
      <i
        class="pe-7s-bell primary"
        style="font-weight: 600; font-size: var(--large-font-size);"
      ></i>
    </div>
  </div>
  <div class="footer">
    <span>2020 - All rights reserved</span>
    <span>Terms & Conditions</span>
  </div>
  <div class="pagination">
    <i class="pe-7s-angle-left icon-left"></i>
    <span class="number">1</span>
    <span class="number">2</span>
    <span class="number selected">3</span>
    <span class="number disabled">...</span>
    <span class="number">12</span>
    <i class="pe-7s-angle-right icon-right"></i>
  </div>
  <div class="tabs tabs-wrapper">
    <button class="tab">
      Home
    </button>
    <button class="tab">
      About
    </button>
    <button class="tab">
      Profile
    </button>
  </div>
  <table class="table">
    <thead>
      <th class="min-width">
        <input type="checkbox" id="checkboxtable3" class="checkbox" /><label
          for="checkboxtable3"
        ></label>
      </th>
      <th>Name</th>
      <th>E-Mail</th>
      <th>Number</th>
    </thead>
    <tbody>
      <tr>
        <td class="min-width">
          <input type="checkbox" id="checkboxtable1" class="checkbox" /><label
            for="checkboxtable1"
          ></label>
        </td>
        <td>Merrle Burgett</td>
        <td>custom.email@email.com</td>
        <td>#198274</td>
      </tr>
      <tr>
        <td class="min-width">
          <input type="checkbox" id="checkboxtable2" class="checkbox" /><label
            for="checkboxtable2"
          ></label>
        </td>
        <td>Merrle Burgett</td>
        <td>custom.email@email.com</td>
        <td>#198274</td>
      </tr>
      <tr>
        <td class="min-width">
          <input type="checkbox" id="checkboxtable3" class="checkbox" /><label
            for="checkboxtable3"
          ></label>
        </td>
        <td>Merrle Burgett</td>
        <td>custom.email@email.com</td>
        <td>#198274</td>
      </tr>
      <tr>
        <td class="min-width">
          <input type="checkbox" id="checkboxtable4" class="checkbox" /><label
            for="checkboxtable4"
          ></label>
        </td>
        <td>Merrle Burgett</td>
        <td>custom.email@email.com</td>
        <td>#198274</td>
      </tr>
      <tr>
        <td class="min-width">
          <input type="checkbox" id="checkboxtable5" class="checkbox" /><label
            for="checkboxtable5"
          ></label>
        </td>
        <td>Merrle Burgett</td>
        <td>custom.email@email.com</td>
        <td>#198274</td>
      </tr>
      <tr>
        <td class="min-width">
          <input type="checkbox" id="checkboxtable6" class="checkbox" /><label
            for="checkboxtable6"
          ></label>
        </td>
        <td>Merrle Burgett</td>
        <td>custom.email@email.com</td>
        <td>#198274</td>
      </tr>
      <tr>
        <td class="min-width">
          <input type="checkbox" id="checkboxtable7" class="checkbox" /><label
            for="checkboxtable7"
          ></label>
        </td>
        <td>Merrle Burgett</td>
        <td>custom.email@email.com</td>
        <td>#198274</td>
      </tr>
    </tbody>
  </table>
</div>
