.wrapper {
  padding: 25px;
}

.wrapper.dark-theme {
  background-color: var(--color-dark-04);
}

.cards-wrapper {
  display: flex;
  margin: 15px 0px;
}

.card-example {
  width: 100px;
  height: 100px;
  content: "''";
  margin-right: 20px;
}

.typography-wrapper {
  display: flex;
  flex-direction: column;
}

.typography-padding {
  padding: 5px 0px;
}

.buttons-wrapper {
  margin: 6px 0px;
}

.button-padding {
  margin-right: 5px;
}

.chips-wrapper {
  display: flex;
}

.chip-padding {
  margin: 6px 6px 6px 0px;
}

.chip-color {
  background-color: var(--color-blue-02);
}

.chip-color-dark {
  background-color: var(--color-blue-04);
  color: var(--color-light-01);
}
