<div class="wrapper dark">
  <div class="cards-wrapper">
    <div class="card elevation-01 card-example"></div>
    <div class="card elevation-02 card-example"></div>
    <div class="card elevation-03 card-example"></div>
    <div class="card elevation-04 card-example"></div>
    <div class="card elevation-05 card-example"></div>
    <div class="card elevation-06 card-example"></div>
  </div>
</div>

<div class="wrapper dark-theme">
  <div class="cards-wrapper">
    <div class="card elevation-01 card-example"></div>
    <div class="card elevation-02 card-example"></div>
    <div class="card elevation-03 card-example"></div>
    <div class="card elevation-04 card-example"></div>
    <div class="card elevation-05 card-example"></div>
    <div class="card elevation-06 card-example"></div>
  </div>
</div>
