<div class="wrapper">
  <div>
    <h1>Heading 1</h1>
    <h2>Heading 2</h2>
    <h3>Heading 3</h3>
    <h4>Heading 4</h4>
    <h5>Heading 5</h5>
    <h6>Heading 6</h6>
  </div>
  <div>
    Apparently we had reached a great height in the atmosphere, for the sky was
    a dead black, and the stars had ceased to twinkle.
  </div>
  <div class="small typography-padding">
    Apparently we had reached a great height in the atmosphere, for the sky was
    a dead black, and the stars had ceased to twinkle.
  </div>
  <div class="tiny typography-padding">
    Apparently we had reached a great height in the atmosphere, for the sky was
    a dead black, and the stars had ceased to twinkle.
  </div>
  <div class="capitalized typography-padding">
    Find an alternative
  </div>
  <div class="typography-wrapper">
    <span class="typography-padding" style="font-weight: 700"
      >Inter - Bold</span
    >
    <span class="typography-padding" style="font-weight: 600"
      >Inter - SemiBold</span
    >
    <span class="typography-padding" style="font-weight: 500"
      >Inter - Medium</span
    >
    <span class="typography-padding" style="font-weight: 400"
      >Inter - Regular</span
    >
  </div>
  <div class="cards-wrapper">
    <div class="card elevation-01 card-example"></div>
    <div class="card elevation-02 card-example"></div>
    <div class="card elevation-03 card-example"></div>
    <div class="card elevation-04 card-example"></div>
    <div class="card elevation-05 card-example"></div>
    <div class="card elevation-06 card-example"></div>
  </div>
  <div class="buttons-wrapper">
    <button class="small button button-padding">Default</button>
    <button class="small button button-padding success">Success</button>
    <button class="small button button-padding danger">Danger</button>
    <button class="small button button-padding" disabled>Disabled</button>
    <button class="small button button-padding">
      <i class="pe-7s-add-user"></i>
      Icon
    </button>
  </div>
  <div class="buttons-wrapper">
    <button class="button button-padding">Default</button>
    <button class="button button-padding success">Success</button>
    <button class="button button-padding danger">Danger</button>
    <button class="button button-padding" disabled>Disabled</button>
    <button class="button button-padding">
      <i class="pe-7s-add-user"></i>
      Icon
    </button>
  </div>
  <div class="buttons-wrapper">
    <button class="button inverted button-padding">Default</button>
    <button class="button inverted button-padding success">Success</button>
    <button class="button inverted button-padding danger">Danger</button>
    <button class="button inverted button-padding" disabled>Disabled</button>
    <button class="button inverted button-padding">
      <i class="pe-7s-add-user"></i>
      Icon
    </button>
  </div>
  <div class="buttons-wrapper">
    <button class="large button button-padding">Default</button>
    <button class="large button button-padding success">Success</button>
    <button class="large button button-padding danger">Danger</button>
    <button class="large button button-padding" disabled>Disabled</button>
    <button class="large button button-padding">
      <i class="pe-7s-add-user"></i>
      Icon
    </button>
  </div>
  <div class="buttons-wrapper">
    <button class="rounded button small button-padding">Small</button>
    <button class="rounded button button-padding">Default</button>
    <button class="rounded button large button-padding">Large</button>
    <button class="rounded button button-padding" disabled>Disabled</button>
    <button class="rounded button icon button-padding">
      <i class="pe-7s-alarm"></i>
    </button>
  </div>
</div>

<div class="wrapper dark-theme">
  <div>
    <h1>Heading 1</h1>
    <h2>Heading 2</h2>
    <h3>Heading 3</h3>
    <h4>Heading 4</h4>
    <h5>Heading 5</h5>
    <h6>Heading 6</h6>
  </div>
  <div>
    Apparently we had reached a great height in the atmosphere, for the sky was
    a dead black, and the stars had ceased to twinkle.
  </div>
  <div class="small typography-padding">
    Apparently we had reached a great height in the atmosphere, for the sky was
    a dead black, and the stars had ceased to twinkle.
  </div>
  <div class="tiny typography-padding">
    Apparently we had reached a great height in the atmosphere, for the sky was
    a dead black, and the stars had ceased to twinkle.
  </div>
  <div class="capitalized typography-padding">
    Find an alternative
  </div>
  <div class="typography-wrapper">
    <span class="typography-padding" style="font-weight: 700"
      >Inter - Bold</span
    >
    <span class="typography-padding" style="font-weight: 600"
      >Inter - SemiBold</span
    >
    <span class="typography-padding" style="font-weight: 500"
      >Inter - Medium</span
    >
    <span class="typography-padding" style="font-weight: 400"
      >Inter - Regular</span
    >
  </div>
  <div class="cards-wrapper">
    <div class="card elevation-01 card-example"></div>
    <div class="card elevation-02 card-example"></div>
    <div class="card elevation-03 card-example"></div>
    <div class="card elevation-04 card-example"></div>
    <div class="card elevation-05 card-example"></div>
    <div class="card elevation-06 card-example"></div>
  </div>
  <div class="buttons-wrapper">
    <button class="small button button-padding">Default</button>
    <button class="small button button-padding success">Success</button>
    <button class="small button button-padding danger">Danger</button>
    <button class="small button button-padding" disabled>Disabled</button>
    <button class="small button button-padding">
      <i class="pe-7s-add-user"></i>
      Icon
    </button>
  </div>
  <div class="buttons-wrapper">
    <button class="button button-padding">Default</button>
    <button class="button button-padding success">Success</button>
    <button class="button button-padding danger">Danger</button>
    <button class="button button-padding" disabled>Disabled</button>
    <button class="button button-padding">
      <i class="pe-7s-add-user"></i>
      Icon
    </button>
  </div>
  <div class="buttons-wrapper">
    <button class="button inverted button-padding">Default</button>
    <button class="button inverted button-padding success">Success</button>
    <button class="button inverted button-padding danger">Danger</button>
    <button class="button inverted button-padding" disabled>Disabled</button>
    <button class="button inverted button-padding">
      <i class="pe-7s-add-user"></i>
      Icon
    </button>
  </div>
  <div class="buttons-wrapper">
    <button class="large button button-padding">Default</button>
    <button class="large button button-padding success">Success</button>
    <button class="large button button-padding danger">Danger</button>
    <button class="large button button-padding" disabled>Disabled</button>
    <button class="large button button-padding">
      <i class="pe-7s-add-user"></i>
      Icon
    </button>
  </div>
  <div class="buttons-wrapper">
    <button class="rounded button small button-padding">Small</button>
    <button class="rounded button button-padding">Default</button>
    <button class="rounded button large button-padding">Large</button>
    <button class="rounded button button-padding" disabled>Disabled</button>
    <button class="rounded button icon button-padding">
      <i class="pe-7s-alarm"></i>
    </button>
  </div>
</div>
