.last {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.sidebar-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo-image {
  height: 32px;
  width: 32px;
  padding: 4px;
}
