.loader {
  position: absolute; /* Sit on top of the page content */
  top: 5px;
  left: 20px;
  right: 20px;
  bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.3); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}