<div class="card">
  <div class="header">
    <h4 class="title">Get started</h4>
  </div>
  <div class="content">
    <div class="row">
      <div class="col-xs-12">
        <a href="javascript:void(0);" (click)="loginGoogle()">
          <img
            src="/assets/img/Flat/Social buttons by Dreamstale (5).svg"
            alt="Login with Google"
          >
        </a>
      </div>
      <div class="col-xs-12">
        <a href="javascript:void(0);" (click)="loginFacebook()">
          <img
            src="/assets/img/Flat/Social buttons by Dreamstale (2).svg"
            alt="Login with Facebook"
          >
        </a>
      </div>
      <div class="col-xs-12">
        <a href="javascript:void(0);" (click)="loginEmail()">
          <img
            src="/assets/img/Flat/Social buttons by Dreamstale (4).svg"
            alt="Login with Google"
          >
        </a>
      </div>
    </div>
  </div>
</div>
