<div class="card">
  <!-- Header -->
  <div class="header" style="text-align: center;">
    <img src="/assets/img/angular.png" alt="Logo">
    <i class="pe-7s-bookmark"></i>
    <!-- <h2 class="title">Welcome to BookLib!</h2> -->
  </div>
  <!-- Content -->
  <div class="content">
    <div class="row" style="text-align: center;">
      <h4>Welcome to your new digital library!</h4>
      BookLib lets you organize your books in a smart way. Take a tour around the application and see what
      amazing features you can discover ;).
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12 container-with-icon">
        <i class="pe-7s-notebook icon"></i>
        <div>
          <h5>
            Books
          </h5>
          <p class="text-muted info">
            Here you find ALL of your books. You can see them in tiles or in a list, organize them by name, author,
            language or year. You can also filter them, search them and add new books manually. This is where your
            library starts!
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 container-with-icon">
        <i class="pe-7s-albums icon"></i>
        <div>
          <h5>
            Collections
          </h5>
          <p class="text-muted info">
            You can organize your books in collections, like series of books, trilogies or books that have something in common.
            Find all of your collections here, add new ones and manage your current ones.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 container-with-icon">
        <i class="pe-7s-pen icon"></i>
        <div>
          <h5>
            Authors
          </h5>
          <p class="text-muted info">
            Here you can find info about authors you follow. (This feature is still under development!)
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 container-with-icon">
        <i class="pe-7s-server icon"></i>
        <div>
          <h5>
            Goodreads
          </h5>
          <p class="text-muted info">
            Here you can connect to the Goodreads platform, import your library from your account, find books and authors
            and connect your current books to the Goodreads database. (This feature is still under development!)
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 container-with-icon">
        <i class="pe-7s-cloud-upload icon"></i>
        <div>
          <h5>
            Import
          </h5>
          <p class="text-muted info">
            Here you can import your personal library from a customized spreadsheet and have all your books very easily
            uploaded to your digital library.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <button class="col-xs-12 btn btn btn-primary" type="button" routerLink="/dashboard/books">Let's get started with my library!</button>
      </div>
      <a
        href="javascript:void(0);"
        (click)="hideMessage()"
        class="col-xs-12"
        style="text-align: right; margin: 10px 0;"
      >
        Don't display this message anymore
      </a>
    </div>
  </div>
</div>