<loading [visible]="isLoading"></loading>
<page-navigator *ngIf="!isLoading">
  <div class="card" [@card]>
    <div class="header">
      <h4 class="title">{{ author.name }}</h4>
      <powered-by-goodreads></powered-by-goodreads>
    </div>
    <div class="content">
      <div class="row">
        <div class="col-md-3">
          <div class="image author-photo">
            <img
              [src]="
                author.imageLarge
                  ? author.imageLarge
                  : author.imageSmall
                  ? author.imageSmall
                  : '/assets/img/no-book-cover.png'
              "
              alt="Author photo"
            />
          </div>
        </div>
        <div class="col-md-9">
          <label>About:</label>
          <p [innerHTML]="author.about | truncate: { paragraphs: 1 }"></p>
          <p
            class="collapse"
            id="about"
            [innerHTML]="author.about | truncate: { paragraphStart: 1 }"
          ></p>
          <div>
            <a
              href="#about"
              class="collapse-button"
              data-toggle="collapse"
              (click)="showAllAbout = !showAllAbout"
            >
              <div class="label">{{ showAllAbout ? 'Less' : 'More' }}</div>
              <i
                [ngClass]="{
                  'pe-7s-angle-down': !showAllAbout,
                  'pe-7s-angle-up': showAllAbout
                }"
              ></i>
            </a>
            <hr />
          </div>
        </div>
      </div>

      <books-display
        [books]="author.books"
        [selectable]="true"
        [tableDisplayItems]="tableDisplayItems"
        [displayBooksInLibraryInfo]="true"
        (selectedBooks)="updateSelectedBooks($event)"
      ></books-display>

      <hr />
      <div style="text-align: center;">
        <button
          type="button"
          class="btn btn-success"
          style="width: 100%;"
          (click)="importBooks()"
          [disabled]="!hasSelectedBooks"
        >
          Import books to your library
        </button>
      </div>
    </div>
  </div>
</page-navigator>
