.author-photo {
  display: block;
  margin: auto;
  border-radius: 0;
  height:auto;
  margin-bottom: 10px;
}

p {
  color: dimgray;
}

hr {
  margin: 4px;
}

.collapse-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.collapse-button > i {
  font-size: 28px;
}

.label {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 400;
  color: #9A9A9A;
  padding: 0;
}

.btn-success {
  color: #fff;
  background-color: #18b518;
  border-color: #4cae4c;
}

.btn-success:focus {
  color: #fff;
  background-color: #449d44;
  border-color: #255625;
}

.btn-success:hover {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}