.values {
  padding: 5px 0;
  font-size: 12px;
}

.tags {
  background: #45cce8;
  border-radius: 4px;
  margin: 0 2px;
  padding: 4px;
  color: #f9f9f9;
  font-weight: bold;
  font-size: 12px;
}

.icon {
  font-weight: bold;
}

.close-icon {
  font-weight: bold;
  font-size: 10px;
}

.white {
  color: #f9f9f9;
}