<label>{{title}}</label>
  <div class="input-group">
    <input
      #tagInput
      type="text"
      class="form-control"
      placeholder="{{placeholder}}"
      (keyup)="keyupHandle($event, tagInput.value)"
      (keydown.enter)="pushItem(tagInput.value); tagInput.value = '';"
      (focus)="hasFocus.emit(true)"
      (blur)="hasFocus.emit(false)"
    >
    <span class="input-group-btn">
      <button class="btn btn-default" type="button" (click)="pushItem(tagInput.value); tagInput.value = '';">
        <i class="ti-plus"></i>
      </button>
    </span>
  </div>
  <div class="values">
    <span *ngFor="let item of items; let lastItem = last; let i = index" [ngClass]="{tags: tags}">
      <i class="{{iconClass}} icon" *ngIf="iconClass"></i>
      {{item}}
      <a href="javascript:void(0);" (click)="removeItem(i)">
        <i class='ti-close close-icon' [ngClass]="{white: tags}"></i>
      </a>
    </span>
  </div>