<div class="card">
  <div class="header">
    <h4 class="title">Search books</h4>
  </div>
  <div class="content">
    <form [formGroup]="form" class="search-container" (ngSubmit)="submit(form.value)">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search" formControlName="searchInput">
        <span class="input-group-addon" id="sizing-addon2">
          <i class="pe-7s-search search-icon"></i>
        </span>
      </div>
      <button
        type="submit"
        class="btn btn-primary btn-margin"
      >Search</button>
    </form>
    <hr *ngIf="!isLoading && books && books.length">
    <loading [visible]="isLoading"></loading>
    <div class="books-display" *ngIf="!isLoading && books && books.length">
      <books-display
        [fullSearchBar]="true"
        [maxBooks]="4"
        [bookCardsInRow]="2"
        [tilesDisplay]="false"
        [tableDisplayItems]="tableItems"
        [books]="books"
        [selectable]="true"
      ></books-display>
      <button
        type="button"
        class="btn btn-success"
        style="width: 100%;"
        (click)="importBooks()"
      >Import</button>
    </div>
  </div>
</div>
