i.tile-icon {
  font-size: 1.4em;
}

i.owned {
  color: green;
}

i.wishlist {
  color: royalblue;
}

i.read {
  color: orangered;
}

i.favorite {
  color: violet;
}

i.inactive {
  color: #c9c9c9;
}

table {
  margin: 0;
}

img {
  height: 160px;
  width: auto;
}

.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}