<div class="row" *ngIf="books.length">
  <div class="col-md-12">
    <div class="card">
      <div class="content table-responsive table-full-width">
        <table class="table">
          
          <thead>
            <tr>
              <th *ngIf="selectable || clickable" class="col-md-1">Selected</th>
              <th *ngIf="displayItems['Cover']" class="col-md-1"></th>
              <th class="col">Title</th>
              <th *ngIf="displayItems['Original title']" class="col-md-2">Original title</th>
              <th *ngIf="displayItems['Author']" class="col-md-2">Author</th>
              <th *ngIf="displayItems['Added on']" class="col">Added on</th>
              <th *ngIf="displayItems['Year']" class="col">Year</th>
              <th *ngIf="displayItems['Publisher']" class="col">Publisher</th>
              <th *ngIf="displayItems['Language']" class="col">Language</th>
              <th *ngIf="displayItems['Pages']" class="col">Pages</th>
              <th *ngIf="displayItems['Rating']" class="col">Rating</th>
              <th *ngIf="displayItems['Favorites'] && withButtons" class="col-md-1"></th>
              <!-- <th *ngIf="selectable" class="col">Status</th> -->
              <!-- <th *ngIf="selectable" class="col"></th>
              <th *ngIf="clickable" class="col"></th> -->
            </tr>
          
          <tbody>
            <tr
              *ngFor="let book of books"
              (click)="updateSelectedBooks(book)"
              [ngClass]="{
                'row-selectable': (selectable || clickable) && book.canBeSelected,
                'row-selected': (selectable || clickable) && book.isSelected,
                'row-not-selectable': (selectable || clickable) && !book.canBeSelected
              }"
            >
              <!-- Select button -->
              <td *ngIf="selectable || clickable">
                <i *ngIf="book.canBeSelected" class="select-icon"[ngClass]="{
                  'ti-check-box': book.isSelected,
                  'ti-control-stop': !book.isSelected
                }"></i>
              </td>
              <!-- Cover -->
              <td *ngIf="displayItems['Cover']">
                <a
                  *ngIf="linkable"
                  href="javascript:void(0);"
                  routerLink="/dashboard/books/{{ book.id }}"
                >
                  <img
                    [src]="
                      book.imageLarge
                        ? book.imageLarge
                        : book.imageSmall
                        ? book.imageSmall
                        : '/assets/img/no-book-cover.png'
                    "
                    alt="Book cover"
                  />
                </a>
                <img
                  *ngIf="!linkable"
                  [src]="
                    book.imageLarge
                      ? book.imageLarge
                      : book.imageSmall
                      ? book.imageSmall
                      : '/assets/img/no-book-cover.png'
                  "
                  alt="Book cover"
                />
              </td>
              <!-- Title -->
              <td class="col">
                <a *ngIf="linkable" href="#" routerLink="{{book.id}}">{{book.title}}</a>
                {{linkable ? '' : book.title}}
              </td>
              <!-- Original title -->
              <td *ngIf="displayItems['Original title']" class="col-md-2">{{book.original}}</td>
              <!-- Author -->
              <td *ngIf="displayItems['Author']" class="col-md-2">
                <a *ngIf="linkable" href="#" [routerLink]="authorRoute(book)">{{book.author}}</a>
                {{linkable ? '' : book.author}}
              </td>
              <!-- Date -->
              <td *ngIf="displayItems['Added on']" class="col">{{formatDate(book.date)}}</td>
              <!-- Year -->
              <td *ngIf="displayItems['Year']" class="col">{{book.year}}</td>
              <!-- Publisher -->
              <td *ngIf="displayItems['Publisher']" class="col">{{book.publisher}}</td>
              <!-- Language -->
              <td *ngIf="displayItems['Language']" class="col">{{book.language}}</td>
              <!-- Pages -->
              <td *ngIf="displayItems['Pages']" class="col">{{book.pages}}</td>
              <!-- Rating -->
              <td *ngIf="displayItems['Rating']" class="col">{{book.Rating || 0}}</td>
              <!-- Favorites -->
              <td *ngIf="displayItems['Favorites'] && withButtons" class="col-md-2">
                <div class="icons">
                  <i class="pe-7s-check tile-icon"
                    (click)="updateFavoriteIcon(book, { owned: !book.owned })"
                    [ngClass] = "{'inactive': !book.owned, 'owned': book.owned}"
                    tooltip="{{book.owned ? 'Owned' : 'Not owned'}}"
                    [isDisabled]="false"
                    [tooltipAnimation]="true"
                    placement="bottom"></i>
                  <i class="pe-7s-gift tile-icon"
                    (click)="updateFavoriteIcon(book, { wishlist: !book.wishlist })"
                    [ngClass] = "{'inactive': !book.wishlist, 'wishlist': book.wishlist}"
                    tooltip="{{book.wishlist ? 'In wishlist' : 'Not in wishlist'}}"
                    [isDisabled]="false"
                    [tooltipAnimation]="true"
                    placement="bottom"></i>
                  <i class="pe-7s-glasses tile-icon"
                    (click)="updateFavoriteIcon(book, { read: !book.read })"
                    [ngClass] = "{'inactive': !book.read, 'read': book.read}"
                    tooltip="{{book.read ? 'Read' : 'read'}}"
                    [isDisabled]="false"
                    [tooltipAnimation]="true"
                    placement="bottom"></i>
                  <i class="pe-7s-like tile-icon"
                    (click)="updateFavoriteIcon(book, { favorite: !book.favorite })"
                    [ngClass] = "{'inactive': !book.favorite, 'favorite': book.favorite}"
                    tooltip="{{book.favorite ? 'Favorite' : 'Not a favorite'}}"
                    [isDisabled]="false"
                    [tooltipAnimation]="true"
                    placement="bottom"></i>
                </div>
              </td>

              <!-- <td *ngIf="selectable" class="col-xs-3">
                <div class="text-muted" style="font-style: italic">
                  <i style="font-size: 0.9em" [ngClass]="{'ti-check': book.isSelected || !book.canBeSelected, 'ti-close': !book.isSelected}"></i>
                  {{
                    book.canBeSelected 
                    ? (book.isSelected ? statusIncluded : statusNotIncluded)
                    : statusCannotBeSelected
                  }}
                </div>
              </td> -->

              <!-- <td *ngIf="selectable" class="col-xs-3">
                <button
                  style="text-align: center"
                  class="btn btn-default"
                  type="button"
                  [disabled]="!book.canBeSelected"
                  (click)="updateSelectedBooks(book)"
                >{{book.isSelected ? 'Remove' : 'Add'}}</button>
              </td> -->

              <!-- <td *ngIf="clickable" class="col-xs-3">
                <button
                  style="text-align: center"
                  class="btn btn-default"
                  type="button"
                  (click)="updateSelectedBooks(book)"
                >Select</button>
              </td> -->
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>