.btn::-moz-placeholder {
  color: #DDDDDD;
  opacity: 1;
  filter: alpha(opacity=100);
}

.btn:-moz-placeholder {
  color: #DDDDDD;
  opacity: 1;
  filter: alpha(opacity=100);
}

.btn::-webkit-input-placeholder {
  color: #DDDDDD;
  opacity: 1;
  filter: alpha(opacity=100);
}

.btn:-ms-input-placeholder {
  color: #DDDDDD;
  opacity: 1;
  filter: alpha(opacity=100);
}

.btn:focus {
  border: 1px solid #E3E3E3;
  outline: 0;
}

.btn {
  background-color: #FFFFFF;
  border: 1px solid #E3E3E3;
  border-radius: 4px;
  color: #565656;
  padding: 8px 12px;
  height: 40px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.active {
  background-color: #f7f7f7;
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);;
  outline: 0 !important;
  color: #333333;
}
  