<label>Favorites</label><br />
<div class="button-group">
  <button
    type="button"
    class="button clear large icon"
    (click)="owned = !owned"
    [ngClass]="{ active: owned }"
  >
    <i class="ti-briefcase"></i>
  </button>
  <button
    type="button"
    class="button clear large icon"
    (click)="wishlist = !wishlist"
    [ngClass]="{ active: wishlist }"
  >
    <i class="ti-gift"></i>
  </button>
  <button
    type="button"
    class="button clear large icon"
    (click)="read = !read"
    [ngClass]="{ active: read }"
  >
    <i class="ti-eye"></i>
  </button>
  <button
    type="button"
    class="button clear large icon"
    (click)="favorite = !favorite"
    [ngClass]="{ active: favorite }"
  >
    <i class="ti-heart"></i>
  </button>
</div>
