.card {
  margin-bottom: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-clickable:hover {
  background: #ecfdef;
  cursor: pointer;
}

.selected {
  background: #ecfdef;
}

@media only screen and (min-width: 991px) {
  .card {
    height: 27vw;
  }
}

.title {
  font-size: 1.2em;
}

.select-icon {
  font-size: 20px;
}

.ti-control-stop {
  font-size: 25px;
  margin-top: -2px;
  margin-left: -3px;
  margin-bottom: -4px;
}

.ti-check-box {
  color: #18b518;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

hr {
  margin: 5px 0;
}

.image {
  height: auto;
  flex: 1;
}

.img-rounded {
  border-radius: 4px;  
}


img {
  border-radius: 4px;  
}
