<div
  class="card"
  (click)="select()"
  [ngClass]="{'card-clickable': clickable && !author.canBeSelected}"
>
  <div class="header">
    <!-- Header -->
    <h4 class="title">{{ author.name }}</h4>
    <hr />
  </div>
  <div class="content">
    <!-- Image -->
    <div class="image">
      <img
        class="img-rounded"
        [src]="
          author.imageLarge
            ? author.imageLarge
            : author.imageSmall
            ? author.imageSmall
            : '/assets/img/no-book-cover.png'
        "
        alt="Author photo"
      />
    </div>
  </div>
</div>
