<div
  class="card"
  (click)="select()"
  [ngClass]="{'card-clickable': clickable && !author.canBeSelected, 'selected': clickable && author.isSelected}"
>
  <div class="header">
    <!-- Header -->
    <h4 class="title">
      <a
        *ngIf="linkable"
        href="#"
        routerLink="/dashboard/authors/{{ author.id }}"
      >{{author.name}}</a>
      {{ linkable ? '' : author.name }}
    </h4>
    <hr />
  </div>
  <div class="content">
    <!-- Image -->
    <div class="image img-rounded">
      <a
        *ngIf="linkable"
        href="javascript:void(0);"
        routerLink="/dashboard/authors/{{ author.id }}"
      >
        <img
          [src]="
            author.imageLarge
              ? author.imageLarge
              : author.imageSmall
              ? author.imageSmall
              : '/assets/img/no-book-cover.png'
          "
          alt="Author picture"
        />
      </a>
      <img
        *ngIf="!linkable"
        [src]="
          author.imageLarge
            ? author.imageLarge
            : author.imageSmall
            ? author.imageSmall
            : '/assets/img/no-book-cover.png'
        "
        alt="Author picture"
      />
    </div>
  </div>
</div>
