<div class="main-content">
  <div class="container-fluid">
    <div class="card" [@card]>
      <div class="header">
        <!-- Header -->
        <h4 class="title">
          Import library
        </h4>
        <hr class="no-margin">
      </div>
      <div class="content">
        <!-- How to -->
        <div class="row">
          <div class="col-md-12 container-with-icon">
            <i class="pe-7s-info icon"></i>
            <div>
              <h5>
                Prepare your file
              </h5>
              <p class="text-muted instructions">
                To import your library from a spreadsheet file (.xlsx, .csv), organize the information from your books according to the
                structure displayed below (without the headers):
              </p>
              <a href="#tableInfo" class="collapse-button" data-toggle="collapse" (click)="displayTableInfo = !displayTableInfo">
                {{displayTableInfo ? 'Hide' : 'Show'}}
                <i [ngClass]="{'pe-7s-angle-down': !displayTableInfo, 'pe-7s-angle-up': displayTableInfo}"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="collapse" id="tableInfo">
          <table class="table">
            <thead>
              <tr>
                  <th class="col">Title</th>
                  <th class="col">Author</th>
                  <th class="col">Original title</th>
                  <th class="col">Publisher</th>
                  <th class="col">Pages</th>
                  <th class="col">Year</th>
                  <th class="col">Language</th>
                  <th class="col">Rating</th>
                  <th class="col">Owned</th>
                  <th class="col">Wishlist</th>
                  <th class="col">Read</th>
                  <th class="col">Favorite</th>
                  <th class="col">Book cover link</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="col">My Book</td>
                <td class="col">John Doe</td>
                <td class="col">My Book</td>
                <td class="col">Publisher Inc.</td>
                <td class="col">300</td>
                <td class="col">1990</td>
                <td class="col">English</td>
                <td class="col">0</td>
                <td class="col">X</td>
                <td class="col"></td>
                <td class="col"></td>
                <td class="col">X</td>
                <td class="col">http://link-to-image.com/image.png</td>
              </tr>
              <tr>
                <td class="col">My Book</td>
                <td class="col">John Doe</td>
                <td class="col">Mi Libro</td>
                <td class="col"></td>
                <td class="col"></td>
                <td class="col">1990</td>
                <td class="col">Español</td>
                <td class="col">2</td>
                <td class="col"></td>
                <td class="col"></td>
                <td class="col">X</td>
                <td class="col"></td>
                <td class="col">http://link-to-image.com/image.png</td>
              </tr>
              <tr>
                <td class="col">My Book</td>
                <td class="col">John Doe</td>
                <td class="col">Mein Buch</td>
                <td class="col">Publisher Inc.</td>
                <td class="col"></td>
                <td class="col"></td>
                <td class="col">Deutsch</td>
                <td class="col">5</td>
                <td class="col">X</td>
                <td class="col"></td>
                <td class="col"></td>
                <td class="col">X</td>
                <td class="col"></td>
              </tr>
            </tbody>
          </table>
        </div>
        <hr>
        <!-- Attributes -->
        <div class="row">
          <div class="col-md-12 container-with-icon">
            <i class="pe-7s-attention icon"></i>
            <div>
              <h5>
                Configure your attributes
              </h5>
              <p class="text-muted instructions">
                To correctly import your books from a spreadsheet file, use the following formatting for the provided attributes:
              </p>
              <a href="#attributesInfo" class="collapse-button" data-toggle="collapse" (click)="displayAttributesInfo = !displayAttributesInfo">
                {{displayAttributesInfo ? 'Hide' : 'Show'}}
                <i [ngClass]="{'pe-7s-angle-down': !displayAttributesInfo, 'pe-7s-angle-up': displayAttributesInfo}"></i>
              </a>
            </div>
          </div>
          <div class="collapse col-md-12" style="margin-left: 62px;" id="attributesInfo">
            <ul>
              <li>
                <p class="text-muted instructions">
                  <span class="item">Title :</span>
                  The title of the book <span style="color: red; font-style: italic;">(required)</span>.
                </p>
              </li>
              <li>
                <p class="text-muted instructions">
                  <span class="item">Author:</span>
                  The author of the book <span style="color: red; font-style: italic;">(required)</span>.
                </p>
              </li>
              <li>
                <p class="text-muted instructions">
                  <span class="item">Original title:</span>
                  The title in the original title of the book.
                </p>
              </li>
              <li>
                <p class="text-muted instructions">
                  <span class="item">Publisher</span>
                  The publisher of this version of the book.
                </p>
              </li>
              <li>
                <p class="text-muted instructions">
                  <span class="item">Pages:</span>
                  Page count of this version of the book. Should be a whole number larger than 0.
                </p>
              </li>
              <li>
                <p class="text-muted instructions">
                  <span class="item">Year:</span>
                  The year of publication of the book. Should be a whole number larger than 0.
                </p>
              </li>
              <li>
                <p class="text-muted instructions">
                  <span class="item">Language:</span>
                  The language in which this version of the book was written. The language should be available
                  in the following list:
                </p>
                <ul class="list-group">
                  <li class="list-group-item" *ngFor="let language of languages">{{language}}</li>
                </ul>
              </li>
              <li>
                <p class="text-muted instructions">
                  <span class="item">Rating:</span>
                  Your personal rating. Should be a whole number between 0 and 5.
                </p>
              </li>
              <li>
                <p class="text-muted instructions">
                  <span class="item">Owned:</span>
                  Indicates if you own this book or not.
                  Mark your owned books with an 'X', otherwise leave this field blank.
                </p>
              </li>
              <li>
                <p class="text-muted instructions">
                  <span class="item">Wishlist:</span>
                  Indicates if this book is in your wishlist.
                  Mark the books in your wishlist with an 'X', otherwise leave this field blank.
                </p>
              </li>
              <li>
                <p class="text-muted instructions">
                  <span class="item">Read:</span>
                  Indicates if you've read this book or not.
                  Mark the books you've read with an 'X', otherwise leave this field blank.
                </p>
              </li>
              <li>
                <p class="text-muted instructions">
                  <span class="item">Favorite:</span>
                  Indicates if this books if one of your favorites or not.
                  Mark your favorite books with an 'X', otherwise leave this field blank.
                </p>
              </li>
              <li>
                <p class="text-muted instructions">
                  <span class="item">Image link:</span>
                  Provide an image link to the book cover.
                </p>
              </li>
            </ul>
          </div>
        </div>
        <hr>
        <!-- Import button -->
        <div class="row">
          <div class="col-md-12 container-with-icon">
            <i class="pe-7s-cloud-upload icon"></i>
            <div style="flex: 1; display: flex;">
              <div>
                <h5>
                  Import your library
                </h5>
                <p class="text-muted file-type">File format: .xlxs, .csv.</p>
              </div>
              <button
                type="button"
                class="btn btn-success"
                style="width: 260px; margin-left: 20px;"
                (click)="fileUpload.click()"
              >Choose file</button>
              <input style="display: none" [hidden]="true" #fileUpload type="file" (change)="uploadFile($event)">
            </div>
          </div>
        </div>
        <hr *ngIf="booksToImport.length">
        <!-- Books -->
        <div *ngIf="booksToImport.length" class="row">
          <div class="col-md-12 container-with-icon">
            <i class="pe-7s-notebook icon"></i>
            <div>
              <h5>
                Choose your books
              </h5>
              <p class="text-muted instructions">
                Choose which books you want to import:
              </p>
              <a href="#booksInfo" class="collapse-button" data-toggle="collapse" (click)="displayBooksToImport = !displayBooksToImport">
                {{displayBooksToImport ? 'Hide' : 'Show'}}
                <i [ngClass]="{'pe-7s-angle-down': !displayBooksToImport, 'pe-7s-angle-up': displayBooksToImport}"></i>
              </a>
            </div>
          </div>
        </div>
        <div id="booksInfo" class="collapse in" style="margin-top: 4px;">
          <books-display
            *ngIf="booksToImport.length"
            [tilesDisplay]="false"
            [tableDisplayItems]="tableItems"
            [books]="booksToImport"
            [selectable]="true"
          ></books-display>
          <div *ngIf="booksToImport.length" class="row">
            <div class="col-md-12">
              <button
                type="button"
                class="btn btn-success"
                style="width: 100%;"
                (click)="importLibrary()"
              >Import library</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
