/* You can add global styles to this file, and also import other style files */

@import './assets/css/bootstrap.min.css';
/* @import './assets/css/light-bootstrap-dashboard.css'; */
@import './assets/css/core-elements.css';
@import './assets/css/themify-icons.css';
@import './assets/css/pe-icon-7-stroke.css';
@import './assets/css/bootstrap-social.css';
@import './assets/css/animate.min.css';
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css';
@import 'http://fonts.googleapis.com/css?family=Roboto:400,700,300';

body {
  font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 400;
}

.btn {
  min-height: 40px;
}

.btn-social {
  padding-top: 12px;
  padding-bottom: 12px;
}

.card .title {
  margin-top: 0;
  margin-bottom: 0;
}

svg path,
svg rect {
  fill: #23ccef;
}

.alert-success {
  background-color: #18b518;
}

.btn-goodreads {
  color: #fff;
  background-color: #8c6b32;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-goodreads:focus,
.btn-goodreads.focus {
  color: #fff;
  background-color: #715729;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-goodreads:hover {
  color: #fff;
  background-color: #715729;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-goodreads:active,
.btn-goodreads.active,
.open > .dropdown-toggle .btn-goodreads {
  color: #fff;
  background-color: #715729;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-goodreads:active:hover,
.open > .dropdown-toggle .btn-goodreads:hover,
.btn-goodreads:active:focus,
.btn-goodreads .active:focus,
.open > .dropdown-toggle .btn-goodreads:focus,
.btn-goodreads:active .focus,
.btn-goodreads .active .focus,
.open > .dropdown-toggle .btn-goodreads .focus {
  color: #fff;
  background-color: #23345a;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-goodreads:active,
.btn-goodreads.active,
.open > .dropdown-toggle.btn-goodreads {
  background-image: none;
}

.btn-goodreads.disabled:hover,
.btn-goodreads[disabled]:hover,
fieldset[disabled] .btn-goodreads:hover,
.btn-goodreads.disabled:focus,
.btn-goodreads[disabled]:focus,
fieldset[disabled] .btn-goodreads:focus,
.btn-goodreads .disabled .focus,
.btn-goodreads[disabled] .focus,
fieldset[disabled] .btn-goodreads .focus {
  background-color: #8c6b32;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-goodreads .badge {
  color: #8c6b32;
  background-color: #fff;
}
