<home-navbar></home-navbar>
<div class="page-header" filter-color="custom">
  <div
    class="page-header-image clear-filter"
    data-parallax="true"
    style="background-image: url('/assets/img/background-01.jpg');"
  ></div>
  <div class="container">
    <div class="content-center brand">
      <img class="n-logo" src="./assets/img/booklib-128x128.png" alt="" />
      <h1 class="h1-seo">Book Lib</h1>
      <h3>Your personal library. Everywhere you go.</h3>
    </div>
  </div>
</div>
<div class="main">
  <div class="section section-basic" style="padding: 0 30px;">
    <home-section
      sectionTitle="Catalog your books and keep your library organized"
    >
      <div class="row section-item">
        <div class="col-md-12">
          <img
            style="height: 450px; width: auto;"
            src="/assets/img/home/book.png"
            alt="social-media-page"
          />
        </div>
        <div class="col-md-12">
          <ul>
            <li>
              Manually add books to your library with title, author, title in
              original language, publisher, year of publication and number of
              pages
            </li>
            <li>
              Customize your books: give them a rating, separate them in
              categories such as favorite, owned, read or in wishlist and add
              personalized notes to them, like a review or thoughts you had
              while reading
            </li>
            <li>
              Categorize and organize your books by adding tags and genres to
              them or adding them to a collection
            </li>
          </ul>
        </div>
      </div>
    </home-section>
    <hr />
    <home-section sectionTitle="Make the best out of your collections">
      <div class="row section-item">
        <div class="col-md-12">
          <img
            style="height: 450px; width: auto;"
            src="/assets/img/home/collections.png"
            alt="social-media-page"
          />
        </div>
        <div class="col-md-12">
          <ul>
            <li>
              BookLib allows you to separate your books in collections.
              Collections can have as many books as you want and can be
              organized any way you want
            </li>
            <li>
              Have a favorite trilogy? Want to put together all those hundreds
              of books written by your favorite author? Create a new collection
              and organize your books according to your needs
            </li>
          </ul>
        </div>
      </div>
    </home-section>
    <hr />
    <home-section sectionTitle="Share your library with the world">
      <div class="row section-item">
        <div class="col-md-12">
          <img
            style="height: 450px; width: auto;"
            src="/assets/img/home/social-media-page.png"
            alt="social-media-page"
          />
        </div>
        <div class="col-md-12">
          <ul>
            <li>
              Share updates about books and collections in your library with
              friends over Facebook or Twitter
            </li>
            <li>
              Invite friends to create their own personal libraries and see what
              books they are reading or want to read next
            </li>
          </ul>
        </div>
      </div>
    </home-section>
    <hr />
    <home-section
      sectionTitle="Access millions of books and add them to your library"
    >
      <div class="row section-item">
        <div class="col-md-12">
          <img
            style="height: 350px; width: auto;"
            src="/assets/img/home/import.png"
            alt="import"
          />
        </div>
        <div class="col-md-12">
          <ul>
            <li>
              Import book data from millions of books available in the Goodreads
              and Amazon databases
            </li>

            <li>
              Connect your BookLib account to your Amazon or Goodreads account
              and import your book favorites and wishlist easily
            </li>
            <li>
              Keep track of your favorite authors and their work by accessing
              the Goodreads database directly from BookLib
            </li>
          </ul>
        </div>
      </div>
    </home-section>
    <hr />
    <home-section sectionTitle="Import your library and take it anywhere">
      <div class="row section-item">
        <div class="col-md-12">
          <img
            style="height: 350px; width: auto;"
            src="/assets/img/home/phone.png"
            alt="sheet"
          />
        </div>
        <div class="col-md-12">
          <ul>
            <li>
              Tired of keeping tracking of your books in boring spreadsheet
              files? Import those files directly into BookLib and start managing
              your personal library in a much more intuitive way!
            </li>

            <li>
              Access your personal library anywhere and show the world your
              impressive collection!
            </li>
          </ul>
        </div>
      </div>
    </home-section>
  </div>
</div>
<footer-cmp></footer-cmp>
