<div class="card" [@card]>
  <div class="header">
    <h4 class="title">
      Goodreads Account
    </h4>
  </div>
  <div class="content">
    <ng-container [ngSwitch]="connectedToGoodreads">
      <div class="row" *ngSwitchCase="false">
        <p class="col-xs-12 text-center">
          <i class="pe-7s-close-circle" style="font-size: 1.0em; color: #ff0505"></i>
          Your account is not yet connected to Goodreads
        </p>
        <div class="col-md-4 col-xs-10 col-md-offset-4 col-xs-offset-1 align-center">
          <a class="btn btn-social btn-goodreads" (click)="loginGoodreads()">
            <span style="font-size: 26px; line-height: 44px;" class="fab fa-goodreads-g"></span>
            Connect to Goodreads
          </a>
        </div>
      </div>
      <div class="row justify-content-center" *ngSwitchCase="true">
        <div class="col-xs-12 text-center">
          <p>
            <i class="pe-7s-check" style="font-size: 1.0em; color: #00bb1a"></i>
            Your account is already connected to Goodreads
          </p>
        </div>
      </div>
    </ng-container>
  </div>
</div>