<loading [visible]="isLoading"></loading>
<page-navigator *ngIf="!isLoading">
  <div class="card" [@card]>
    <div class="header">
      <h4 class="title">{{title}}</h4>
      <div>
        <button *ngIf="displayDelete" type="button" class="btn btn-danger" style="width: 100%" (click)="this.modal.openModal()">
          <i class="pe-7s-trash"></i>
          Delete
        </button>
      </div>
    </div>
    <div class="content">
      <form [formGroup]="form" (ngSubmit)="submit(form.value)">
        <div class="row">
          <div class="col-xs-12">
            <!-- Title -->
            <div class="form-group" [ngClass] = "{'has-error': !form.controls['title'].valid && form.controls['title'].touched}">
              <label>Collection Title <span style="color: red">*</span></label>
              <input type="text" class="form-control" placeholder="Your version title" formControlName="title">
              <span class="help-block" *ngIf="!form.controls['title'].valid && form.controls['title'].touched">Please enter a valid title.</span>
            </div>
          </div>
        </div>
        <!-- Description -->
        <div class="form-group">
          <label>Description</label>
          <textarea formControlName="description" rows="3" class="form-control" placeholder="What is this collection about?" value=""></textarea>
        </div>

        <!-- Add books -->
        <loading [visible]="isLoading || isLoadingBooks"></loading>
        <label>Books</label>
        <h5 *ngIf="!books || !books.length" class="text-muted" style="font-style: italic; font-size: 0.9em; margin: 4px 0;">
          You currently don't have any books. Add a book to get started with your library! :)
        </h5>
        <books-display
          *ngIf="!isLoadingBooks && !isLoading"
          [tilesDisplay]="false"
          [tableDisplayItems]="tableItems"
          [books]="books"
          [selectable]="true"
        ></books-display>
        <!-- Require -->
        <div class="row">
          <div class="col-xs-12 required">
            <span style="color: red">*</span> Required fields
          </div>
        </div>

        <!-- Buttons -->
				<hr>
				<div class="row">
					<div class="col-md-6">
						<button type="button" class="btn btn-default" style="width: 100%" (click)="this.router.navigate(['../../'], { relativeTo: this.route })">Cancel</button>
					</div>
					<div class="col-md-6">
						<button type="button" class="btn btn-success" style="width: 100%" (click)="submit(form.value)" [disabled]="!form.valid">Save</button>
					</div>
				</div>
      </form>
    </div>
  </div>
</page-navigator>

<modal
  *ngIf="collection"
  #deleteCollectionModal
  title="Are you sure you want to delete {{collection.title}}?"
  content="This collection will be removed permanently from your library. All books related to this collection will be kept."
  cancel="Cancel"
  accept="Accept"
  [onAccept]="deleteCollection && deleteCollection.bind(this)"
></modal>