<div class="row" *ngIf="authors.length">
  <div class="col-md-12">
    <div class="card">
      <div class="content table-responsive table-full-width">
        <table class="table">
          
          <tbody>
            <tr
              *ngFor="let author of authors"
              [ngClass]="{'row-clickable': clickable}"
            >
              <!-- Image -->
              <td class="col-md-1">
                <a
                  *ngIf="linkable"
                  href="javascript:void(0);"
                  routerLink="/dashboard/authors/{{ author.id }}"
                >
                  <img
                    [src]="
                      author.imageLarge
                        ? author.imageLarge
                        : author.imageSmall
                        ? author.imageSmall
                        : '/assets/img/no-book-cover.png'
                    "
                    alt="Author picture"
                  />
                </a>
                <img
                  *ngIf="!linkable"
                  [src]="
                    author.imageLarge
                      ? author.imageLarge
                      : author.imageSmall
                      ? author.imageSmall
                      : '/assets/img/no-book-cover.png'
                  "
                  alt="Author picture"
                />
              </td>
              <!-- Name -->
              <td class="col">
                <a *ngIf="linkable" href="#" routerLink="{{author.id}}">{{author.name}}</a>
                {{linkable ? '' : author.name}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>