p {
  font-size: 16px;
  color: #ffffff;
  font-weight: 200;
}

a {
  display: block;
  padding: 10px 15px;
  margin: 10px 3px;
  position: relative;
}

a:hover > p {
  color: #aaaaaa;
}

.popover-container {
  position: absolute;
  z-index: 2;
  width: 500px;
  right: 0;
  margin: 20px 0;
}

.bold {
  font-weight: 400;
}
