<!-- Books -->
<div [ngSwitch]="tilesDisplay">
  <!-- Tiles -->
  <ng-container *ngSwitchCase="true">
      <books-section
        *ngIf="!orderingMethod"
        [books]="books"
        [withButtons]="true"
        [linkable]="true"
      ></books-section>
    <ng-container *ngIf="orderingMethod !== 'no grouping'">
      <ng-container *ngFor="let item of books | bookOrdering: orderingMethod | iterable | pushToBottom: PUSH_ORDERING[orderingMethod]">
        <books-section
          [sectionTitle]="item.key"
          [books]="item.value"
          [withButtons]="true"
          [linkable]="true"
        ></books-section>
      </ng-container>
    </ng-container>
  </ng-container>
  <!-- Table -->
  <ng-container *ngSwitchCase="false">
    <books-table
      *ngIf="!orderingMethod"
      [books]="books"
      [withButtons]="true"
      [linkable]="true"
    ></books-table>
    <ng-container *ngFor="let item of books | bookOrdering: orderingMethod | iterable">
      <div class="row">
        <div class="col-md-12">
          <h4 class="title">{{item.key}}</h4>
          <hr>
        </div>
        <books-table
          [books]="item.value"
          [withButtons]="true"
          [linkable]="true"
        ></books-table>
      </div>
    </ng-container>
  </ng-container>
</div>
  