<!-- Books -->
<library-navbar [groupings]="bookGroupings" addButtonContent="Add a new book"></library-navbar>
<div [ngSwitch]="tilesDisplay">
  <!-- Tiles -->
  <ng-container *ngSwitchCase="true">
      <books-section
        *ngIf="!groupingMethod"
        [books]="books"
        [withButtons]="true"
        [linkable]="true"
      ></books-section>
    <ng-container *ngIf="groupingMethod !== 'no grouping'">
      <ng-container *ngFor="let item of books | bookFilter: filterMethod | bookGrouping: groupingMethod | iterable | pushToBottom: PUSH_GROUPING[groupingMethod]">
        <books-section
          [sectionTitle]="item.key"
          [books]="item.value"
          [withButtons]="true"
          [linkable]="true"
        ></books-section>
      </ng-container>
    </ng-container>
  </ng-container>
  <!-- Table -->
  <ng-container *ngSwitchCase="false">
    <table-items (displayItems)="tableDisplayItems=$event"></table-items>
    <books-table
      *ngIf="!groupingMethod"
      [books]="books"
      [withButtons]="true"
      [linkable]="true"
      [displayItems]="tableDisplayItems"
    ></books-table>
    <ng-container *ngFor="let item of books | bookFilter: filterMethod | bookGrouping: groupingMethod | iterable">
      <div class="row">
        <div class="col-md-12">
          <h4 class="title">{{item.key}}</h4>
          <hr>
        </div>
        <books-table
          [books]="item.value"
          [withButtons]="true"
          [linkable]="true"
          [displayItems]="tableDisplayItems"
        ></books-table>
      </div>
    </ng-container>
  </ng-container>
</div>
  