<library-navbar [groupings]="bookGroupings" addButtonContent="Add a new book"></library-navbar>
<tags-list *ngIf="filterMethod === 'tags'" [tags]="tags" (selectedTags)="tagFilter=$event"></tags-list>
<loading [visible]="isLoading"></loading>
<!-- No books -->
<no-books *ngIf="!isLoading && !books.length"></no-books>
<!-- Books -->
<div *ngIf="!isLoading" [ngSwitch]="tilesDisplay">
  <!-- Tiles -->
  <ng-container *ngSwitchCase="true">
    <div *ngIf="!(books | page: page:maxBooks | bookFilter: filterMethod:tagFilter).length">
      <h5 class="text-muted" style="font-style: italic; font-size: 0.9em; margin: 4px 0;">
        No books available for this filter.
      </h5>
    </div>
    <books-section
      *ngIf="!groupingMethod"
      [books]="books | page: page:maxBooks | bookFilter: filterMethod:tagFilter"
      [withButtons]="true"
      [linkable]="true"
    ></books-section>
    <ng-container *ngIf="groupingMethod !== 'no grouping' && books.length">
      <ng-container *ngFor="let item of books | page: page:maxBooks | bookFilter: filterMethod:tagFilter | bookGrouping: groupingMethod | iterable | pushToBottom: PUSH_GROUPING[groupingMethod]">
        <books-section
          [sectionId]="item.id"
          [sectionTitle]="item.key"
          [books]="item.value"
          [withButtons]="true"
          [linkable]="true"
        ></books-section>
      </ng-container>
    </ng-container>
  </ng-container>
  <!-- Table -->
  <ng-container *ngSwitchCase="false">
    <table-items (displayItems)="tableDisplayItems=$event"></table-items>
    <books-table
      *ngIf="!groupingMethod"
      [books]="books"
      [withButtons]="true"
      [linkable]="true"
      [displayItems]="tableDisplayItems"
    ></books-table>
    <ng-container *ngFor="let item of books | page: page:maxBooks | bookFilter: filterMethod:tagFilter | bookGrouping: groupingMethod | iterable">
      <div class="row">
        <div class="col-md-12">
          <h4 class="title">{{item.key}}</h4>
          <hr>
        </div>
        <books-table
          [books]="item.value"
          [withButtons]="true"
          [linkable]="true"
          [displayItems]="tableDisplayItems"
        ></books-table>
      </div>
    </ng-container>
  </ng-container>
  <pages [count]="pageCount"></pages>
</div>
  