@import './core-elements-fonts.scss';
@import './core-elements-dark.scss';

:root {
  --color-light-01: #ffffff;
  --color-light-02: #fafafc;
  --color-light-03: #f2f2f5;
  --color-light-04: #ebebf0;
  --color-light-05: #e4e4eb;

  --color-dark-01: #c7c9d9;
  --color-dark-02: #8f90a6;
  --color-dark-03: #555770;
  --color-dark-04: #28293d;
  --color-dark-05: #1c1c28;

  --color-primary-01: #6698fa;
  --color-primary-02: #3e7bfa;
  --color-primary-03: #3568d4;

  --color-red-01: #ffe6e6;
  --color-red-02: #ff8080;
  --color-red-03: #ff5c5c;
  --color-red-04: #ff3b3b;
  --color-red-05: #e63535;

  --color-blue-01: #e5f0ff;
  --color-blue-02: #9dbff9;
  --color-blue-03: #5b8def;
  --color-blue-04: #0063f7;
  --color-blue-05: #004fc4;

  --color-green-01: #e3fff1;
  --color-green-02: #57eba1;
  --color-green-03: #39d98a;
  --color-green-04: #06c270;
  --color-green-05: #05a660;

  --color-orange-01: #fff8e6;
  --color-orange-02: #fdac42;
  --color-orange-03: #fdac42;
  --color-orange-04: #ff8800;
  --color-orange-05: #e67a00;

  --primary-color: var(--color-light-01);
  --primary-text-color: var(--color-dark-03);

  --scrollbar-primary-color: var(--color-primary-01);
  --scrollbar-background-color: var(--color-light-02);

  --button-inverted-background-color: var(--color-light-01);
  --button-inverted-color: var(--color-primary-02);

  --button-clear-color: var(--color-dark-04);
  --button-clear-border-color: var(--color-light-05);

  --button-rounded-background-color: var(--color-light-01);
  --button-rounded-hover-color: var(--color-light-03);
  --button-rounded-active-color: var(--color-light-05);
  --button-rounded-disabled-color: var(--color-dark-01);
  --button-rounded-color: var(--color-primary-02);

  --accordion-background-color: var(--color-light-01);
  --accordion-hover-color: var(--color-light-03);
  --accordion-label-color: var(--color-dark-02);
  --accordion-label-active-color: var(--color-dark-03);

  --alert-background-color: var(--color-blue-01);
  --alert-border-color: var(--color-blue-03);
  --alert-header-color: var(--color-dark-04);
  --alert-color: var(--color-dark-03);
  --alert-icon-content: '\e086';

  --dropdown-color: var(--color-dark-04);
  --dropdown-background-color-hover: var(--color-light-02);

  --input-shadow-color: var(--color-light-05);
  --input-color: var(--color-dark-04);
  --input-placeholder-color: var(--color-dark-03);
  --input-textarea-placeholder-color: var(--color-dark-02);
  --input-normal-border-color: rgba(0, 0, 0, 0);
  --input-border-color: var(--color-primary-02);
  --input-background-color: var(--color-light-01);
  --input-invalid-border-color: var(--color-red-02);
  --input-disabled-background-color: var(--color-light-04);
  --input-disabled-placeholder-color: var(--color-dark-02);
  --input-caret-color: var(--color-dark-02);
  --input-label-color: var(--color-dark-02);
  --input-info-icon-color: var(--color-primary-02);
  --input-icon-hover-color: var(--color-primary-02);

  --sidebar-button-hover: var(--color-light-04);
  --sidebar-divider-color: var(--color-light-04);

  --footer-color: var(--color-dark-02);
  --footer-background-color: var(--color-light-04);

  --table-border-color: var(--color-light-05);
  --table-header-color: var(--color-dark-04);

  --tab-color: var(--color-dark-01);
  --tab-color-selected: var(--color-dark-04);
  --tab-border-color: var(--color-light-05);

  --tiny-font-size: 12px;
  --small-font-size: 14px;
  --regular-font-size: 16px;
  --large-font-size: 18px;

  --elevation-99: inset 0px 0.5px 4px rgba(96, 97, 112, 0.32);
  --elevation-01: 0px 0px 1px rgba(40, 41, 61, 0.08),
    0px 0.5px 2px rgba(96, 97, 112, 0.16);
  --elevation-02: 0px 0px 1px rgba(40, 41, 61, 0.04),
    0px 2px 4px rgba(96, 97, 112, 0.16);
  --elevation-03: 0px 0px 2px rgba(40, 41, 61, 0.04),
    0px 4px 8px rgba(96, 97, 112, 0.16);
  --elevation-04: 0px 2px 4px rgba(40, 41, 61, 0.04),
    0px 8px 16px rgba(96, 97, 112, 0.16);
  --elevation-05: 0px 2px 8px rgba(40, 41, 61, 0.04),
    0px 16px 24px rgba(96, 97, 112, 0.16);
  --elevation-06: 0px 4px 4px rgba(0, 0, 0, 0.25);

  color: var(--primary-text-color);
  font-size: var(--regular-font-size);
  font-weight: normal;
  line-height: 24px;
}

%primary {
  color: var(--color-primary-02);
}

.primary {
  @extend %primary;
}

.heading {
  font-weight: bold;
  font-style: normal;
  margin: 20px 0;
  color: var(--color-dark-05);
}

h1 {
  @extend .heading;
  font-size: 40px;
  line-height: 54px;
}

h2 {
  @extend .heading;
  font-size: 32px;
  line-height: 44px;
}

h3 {
  @extend .heading;
  font-size: 28px;
  line-height: 38px;
}

h4 {
  @extend .heading;
  font-size: 24px;
  line-height: 32px;
}

h5 {
  @extend .heading;
  font-size: 20px;
  line-height: 28px;
}

h6 {
  @extend .heading;
  font-size: 16px;
  line-height: 22px;
}

.small {
  color: var(--color-dark-05);
  font-size: var(--small-font-size);
  line-height: 14.5px;
}

.tiny {
  color: var(--color-dark-05);
  font-size: var(--tiny-font-size);
  line-height: 12px;
  font-weight: 600;
}

.capitalized {
  font-size: var(--small-font-size);
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

%card-base {
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  border-radius: 8px;
}

.card {
  @extend %card-base;
}

.elevation-99 {
  box-shadow: var(--elevation-99);
}

.elevation-01 {
  box-shadow: var(--elevation-01);
}

.elevation-02 {
  box-shadow: var(--elevation-02);
}

.elevation-03 {
  box-shadow: var(--elevation-03);
}

.elevation-04 {
  box-shadow: var(--elevation-04);
}

.elevation-05 {
  box-shadow: var(--elevation-05);
}

.elevation-06 {
  box-shadow: var(--elevation-06);
}

.button {
  padding: 8px 20px;
  color: var(--color-light-01);
  font-weight: 500;
  font-size: var(--regular-font-size);
  border-radius: 8px;
  border: 0;
  box-shadow: var(--elevation-02);
  background-color: var(--color-primary-02);
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background-color: var(--color-primary-01);
  }

  &:focus {
    outline: 0px;
  }

  &:active {
    background-color: var(--color-primary-03);
    box-shadow: var(--elevation-03);
  }

  &:disabled {
    color: var(--color-dark-02);
    background-color: var(--color-light-05);
    cursor: not-allowed;

    &:active {
      box-shadow: var(--elevation-02);
    }
  }

  &.clear {
    background-color: var(--primary-color);
    color: var(--button-clear-color);

    &:hover {
      background-color: var(--color-light-03);
    }

    &:active {
      background-color: var(--color-light-04);
    }
  }

  &.success {
    background-color: var(--color-green-04);

    &:hover {
      background-color: var(--color-green-03);
    }

    &:active {
      background-color: var(--color-green-05);
    }
  }

  &.danger {
    background-color: var(--color-red-04);

    &:hover {
      background-color: var(--color-red-03);
    }

    &:active {
      background-color: var(--color-red-05);
    }
  }

  &.warning {
    background-color: var(--color-orange-04);

    &:hover {
      background-color: var(--color-orange-03);
    }

    &:active {
      background-color: var(--color-orange-05);
    }
  }

  &.inverted {
    background-color: unset;
    border: 1px var(--color-primary-02) solid;
    color: var(--button-inverted-color);

    &:hover {
      background-color: unset !important;
    }

    &:active {
      background-color: unset !important;
    }

    &:disabled {
      color: var(--color-dark-01);
      border: 1px var(--color-dark-01) solid;
    }
  }

  &.inverted.success {
    border: 1px var(--color-green-04) solid;
    --button-inverted-color: var(--color-green-04);
  }

  &.inverted.danger {
    border: 1px var(--color-red-04) solid;
    --button-inverted-color: var(--color-red-04);
  }

  &.inverted.warning {
    border: 1px var(--color-orange-04) solid;
    --button-inverted-color: var(--color-orange-04);
  }

  &.small {
    padding: 6px 12px;
    font-size: var(--tiny-font-size);
  }

  &.large {
    padding: 16px 28px;
    font-size: var(--regular-font-size);
  }

  &.rounded {
    border-radius: 360px;
    color: var(--button-rounded-color);
    background-color: var(--button-rounded-background-color);
    padding: 10px 22px;

    &:hover {
      background-color: var(--button-rounded-hover-color);
    }

    &:active {
      background-color: var(--button-rounded-active-color);
    }

    &:disabled {
      color: var(--button-rounded-disabled-color);

      &:hover {
        background-color: var(--button-rounded-background-color);
      }
    }
  }

  &.rounded.small {
    padding: 8px 18px;
  }

  &.rounded.large {
    padding: 10px 30px;
  }

  &.icon {
    border-radius: 50%;
    padding: 10px 14px;
    font-weight: 600;
  }
}

.accordion {
  overflow: hidden;
}

.accordion-item {
  @extend %card-base;
  overflow: hidden;
  margin: 4px;

  & > label {
    padding: 12px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    color: var(--accordion-label-color);
    background: var(--accordion-background-color);
    cursor: pointer;

    &:hover {
      background-color: var(--accordion-hover-color);
    }

    &:after {
      display: flex;
      align-items: center;
      font-size: 32px;
      content: '\e688';
      font-family: 'Pe-icon-7-stroke';
      font-weight: normal;
      font-style: normal;
      transition: all 0.35s;
    }
  }

  .content {
    max-height: 0;
    background: var(--accordion-background-color);
    transition: all 0.35s;
    padding: 0px 0px 0px 32px;
  }
}

.accordion-item-checkbox {
  position: absolute;
  opacity: 0;
  z-index: -1;

  &:checked {
    + .accordion-item {
      box-shadow: var(--elevation-02);

      & label {
        color: var(--accordion-label-active-color);

        &:hover {
          background-color: var(--accordion-background-color);
        }

        &:after {
          transform: rotate(180deg);
        }
      }

      & .content {
        max-height: 100vh;
        padding: 4px 0px 12px 32px;
      }
    }
  }
}

.alert {
  background-color: var(--alert-background-color);
  border-left: 2px solid var(--alert-border-color);
  border-radius: 2px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  color: var(--alert-color);
  max-width: 400px;
  margin: 5px 0px;

  %iccon {
    content: var(--alert-icon-content);
    font-family: 'GlyphIcons';
    color: var(--alert-border-color);
  }

  %dismiss-icon {
    content: '\e680';
    font-family: 'Pe-icon-7-stroke';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    float: right;
    cursor: pointer;
  }

  %bbutton {
    width: max-content;
    align-self: flex-end;
    float: right;
  }

  & .message {
    font-size: var(--small-font-size);
    margin: 4px 0px 14px 0px;

    font-weight: 600;
    color: var(--alert-header-color);
    margin: 0px;

    & > button {
      @extend %bbutton;
    }
  }

  & > button {
    @extend %bbutton;
  }

  & .header {
    color: var(--alert-header-color);
    font-size: var(--regular-font-size);
    font-weight: 600;
    display: block;

    &:after {
      @extend %dismiss-icon;
    }

    & ~ .message {
      font-weight: 400;
      color: var(--alert-color);
      margin: 4px 0px 14px 0px;
      line-height: 20px;
    }
  }

  &.icon-right {
    & .message:after {
      @extend %iccon;
      float: right;
    }
  }

  &.icon-left {
    & .message:before {
      @extend %iccon;
      float: left;
      margin-right: 16px;
    }
  }

  &.dismissable {
    display: flex;
    flex-direction: column;

    & .message:after {
      @extend %dismiss-icon;
    }
  }

  &.success {
    --alert-background-color: var(--color-green-01);
    --alert-border-color: var(--color-green-03);
    --alert-icon-content: '\e084';
  }

  &.danger {
    --alert-background-color: var(--color-red-01);
    --alert-border-color: var(--color-red-03);
    --alert-icon-content: '\e083';
  }

  &.warning {
    --alert-background-color: var(--color-orange-01);
    --alert-border-color: var(--color-orange-03);
    --alert-icon-content: '\e083';
  }
}

.chip {
  border-radius: 360px;
  box-shadow: var(--elevation-02);
  padding: 6px 14px;
  width: max-content;
  min-width: max-content;
  background-color: var(--color-light-01);
  color: var(--color-dark-05);
  font-size: var(--small-font-size);
  line-height: 14.5px;
  font-weight: 500;

  & > i {
    margin-right: 6px;
    font-weight: bold;
  }

  &.dismissable {
    &:after {
      content: '\e680';
      font-family: 'Pe-icon-7-stroke';
      font-weight: normal;
      font-style: normal;
      font-size: 24px;
      float: right;
      cursor: pointer;
      width: 16px;
    }
  }
}

.badge {
  text-transform: uppercase;
  font-size: var(--tiny-font-size);
  line-height: 10px;
  font-weight: 700;
  border-radius: 10px;
  padding: 8px 10px;
  width: max-content;
  min-width: max-content;
  background-color: var(--color-light-02);
  color: var(--color-primary-02);

  &.info {
    background-color: var(--color-blue-01);
    color: var(--color-blue-05);
  }

  &.success {
    background-color: var(--color-green-01);
    color: var(--color-green-05);
  }

  &.danger {
    background-color: var(--color-red-01);
    color: var(--color-red-05);
  }

  &.warning {
    background-color: var(--color-orange-01);
    color: var(--color-orange-05);
  }
}

%basic-input {
  display: none;

  &:not(:disabled) {
    & + label {
      &:after {
        cursor: pointer;
      }

      &:hover {
        &:before {
          cursor: pointer;
          box-shadow: var(--elevation-02);
        }
      }
    }
  }

  & + label {
    display: flex;
    align-items: center;
    position: relative;
    font-size: var(--small-font-size);
    font-weight: 500;
    min-height: 24px;
  }

  & + label:empty:before {
    margin-right: 0px;
  }

  & + label:before {
    content: '';
    border-radius: 4px;
    border: 1px var(--color-primary-02) solid;
    width: 16px;
    height: 16px;
    margin-right: 10px;
  }

  &:checked + label:after {
    content: '';
    position: absolute;
    display: block;

    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.25);
  }

  &:disabled + label:before {
    background-color: var(--color-light-03);
    border-color: var(--color-light-05);
  }

  &:disabled:checked + label:before {
    background-color: var(--color-light-05);
    border-color: var(--color-light-05);
  }
}

input[type='checkbox'].checkbox {
  @extend %basic-input;

  &:checked + label:before {
    background-color: var(--color-primary-02);
  }

  &:checked + label:after {
    left: 6px;
    top: 6px;
    border-bottom: 2px var(--color-light-01) solid;
    border-right: 2px var(--color-light-01) solid;
    width: 4px;
    height: 8px;
    transform: rotate(45deg);
  }
}

input[type='radio'] {
  @extend %basic-input;

  & + label:before {
    border-radius: 360px;
  }

  &:checked + label:before {
    background-color: var(--color-primary-02);
  }

  &:checked + label:after {
    border-radius: 360px;
    left: 4px;
    top: 7px;
    background-color: var(--color-light-01);
    border-width: 0px;
    width: 10px;
    height: 10px;
  }

  &:disabled:checked + label:after {
    background-color: var(--color-light-01);
  }
}

input[type='checkbox'],
input[type='radio'] {
  &.switch {
    @extend %basic-input;

    &:hover {
      cursor: pointer;
    }

    &:not(:checked) {
      & + label:before {
        border-color: var(--color-light-05);
      }
    }

    & + label:before {
      width: 26px;
      border-radius: 360px;
      transition: background-color 100ms ease;
    }

    & + label:after {
      content: '';
      position: absolute;
      display: block;
      border-radius: 360px;
      left: 2px;
      top: 5px;
      background-color: var(--color-light-01);
      border: 1px var(--color-light-04) solid;
      width: 12px;
      height: 12px;
      box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.25);
      transition: left 200ms ease;
    }

    &:checked + label:after {
      left: 12px;
    }

    &:checked + label:before {
      background-color: var(--color-primary-02);
    }
  }
}

%scroll-container {
  overflow-y: scroll;
  margin-right: 6px;

  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-primary-color)
    var(--scrollbar-background-color);

  &::-webkit-scrollbar-track {
    border-radius: 4px;
  }

  &::-webkit-scrollbar {
    border-radius: 4px;
    width: 4px;
    background-color: var(--scrollbar-background-color);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: var(--scrollbar-primary-color);
  }
}

.dropdown {
  position: relative;

  & > .dropdown-checkbox {
    display: none;

    &:checked {
      & ~ .dropdown-menu {
        max-height: 300px;
        width: 100%;
      }

      & ~ label:after {
        transform: rotate(180deg);
      }
    }
  }

  & > label {
    @extend .card;
    box-shadow: var(--elevation-02);
    border: 0;
    padding: 12px;
    font-size: var(--small-font-size);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    color: var(--dropdown-color);
    background: var(--primary-color);
    cursor: pointer;

    &:hover {
      background-color: var(--dropdown-background-color-hover);
      max-height: 300px;
    }

    &:after {
      display: flex;
      align-items: center;
      font-size: 32px;
      content: '\e688';
      font-family: 'Pe-icon-7-stroke';
      font-weight: normal;
      font-style: normal;
      transition: all 0.35s;
      line-height: 14px;
      transition: all 0.35s;
      color: var(--color-primary-02);
    }
  }

  & > .dropdown-menu {
    @extend .card;
    position: absolute;
    margin-top: 4px;
    background: var(--primary-color);
    display: flex;
    flex-direction: column;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    max-height: 0;
    width: 0;
    box-shadow: var(--elevation-06);
    overflow: hidden;
    z-index: 2;

    & > .dropdown-menu-inner {
      display: flex;
      flex-direction: column;
      @extend %scroll-container;

      & > .dropdown-item {
        padding: 12px 16px;
        font-size: var(--small-font-size);
        font-weight: 500;
        color: var(--dropdown-color);
        cursor: pointer;

        &:hover {
          background-color: var(--color-primary-02);
          color: var(--color-light-01);
        }
      }
    }
  }
}

.input {
  position: relative;
  display: flex;
  flex-direction: column;

  & > label.label,
  label.info {
    color: var(--input-label-color);
    margin-left: 18px;
    font-size: var(--tiny-font-size);
    font-weight: 500;
    display: flex;
    align-items: center;

    & > i.info-icon {
      color: var(--input-info-icon-color);
      font-weight: 600;
      margin-right: 8px;
    }
  }

  & > textarea {
    font-family: 'Inter';
    &::placeholder,
    &::-moz-placeholder,
    &::-webkit-input-placeholder {
      color: var(--input-textarea-placeholder-color);
    }
  }

  & > input,
  textarea {
    border-radius: 8px;
    padding: 10px 14px;
    border: 1px solid var(--input-normal-border-color);
    background-color: var(--input-background-color);
    box-shadow: inset 0 0 5px 1px var(--input-shadow-color);
    font-size: var(--regular-font-size);
    font-weight: normal;
    line-height: 24px;
    color: var(--input-color);
    caret-color: var(--input-caret-color);
    flex: 1;
    outline: 0;

    &::placeholder {
      color: var(--input-placeholder-color);
      opacity: 1;
    }

    &:focus {
      border: 1px solid var(--input-border-color);
      box-shadow: unset;
    }

    &:invalid {
      border: 1px solid var(--input-invalid-border-color);
      box-shadow: unset;
    }

    &:disabled {
      box-shadow: unset;
      background-color: var(--input-disabled-background-color);

      &::placeholder {
        color: var(--input-disabled-placeholder-color);
      }
    }

    &.icon-left {
      padding-left: 40px;
    }

    &.icon-right {
      padding-right: 40px;
    }
  }

  & > i {
    &.left,
    &.right {
      font-size: 22px;
      position: absolute;
      top: 11px;
      color: var(--input-placeholder-color);

      &.left {
        left: 14px;
      }

      &.right {
        right: 14px;
      }

      &.clickable {
        cursor: pointer;

        &:hover {
          color: var(--input-icon-hover-color);
        }
      }
    }
  }

  &.search {
    & > i.left,
    i.right {
      color: var(--input-border-color);
    }
  }
}

.modal {
  @extend %card-base, .elevation-05;
  padding: 24px;
  border-radius: 16px;
  position: relative;

  & > .buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 8px;

    & > button.button {
      margin-left: 12px;
    }
  }

  & > .checkbox-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
  }

  &.vertical > .buttons {
    flex-direction: column;

    & > button.button {
      margin-top: 12px;
      margin-left: 0px;
      flex: 1;
      width: 100%;
    }
  }

  & > i.dismiss {
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    right: 24px;
    top: 24px;
  }

  & > .header {
    margin: 0px;
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--primary-color);
  box-shadow: var(--elevation-06);
  padding: 18px 12px;
  border-radius: 0px 8px 8px 0px;
  width: 300px;
  height: 100%;
}

.sidebar-toggle-header {
  display: flex;
  justify-content: space-between;
  padding: 14px;

  & > i {
    color: var(--color-primary-02);
    font-weight: 500;
    font-size: 24px;
    cursor: pointer;
  }
}

.sidebar-header {
  margin-top: 0px;
  margin-left: 14px;
  display: flex;
  align-items: center;
  cursor: pointer;

  & > .main-icon {
    font-size: 32px;
    margin-right: 16px;
  }
}

%divider {
  width: 90%;
  border: 1px solid var(--sidebar-divider-color);
  border-radius: 8px;
}

.sidebar-divider {
  @extend %divider;
}

.sidebar-top {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.sidebar-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  & > .sidebar-button > i {
    color: var(--color-dark-04);
  }
}

.sidebar-button {
  display: flex;
  align-items: center;
  background-color: var(--primary-color);
  margin-right: 8px;
  font-size: var(--regular-font-size);
  font-weight: 500;
  color: var(--primary-text-color);
  padding: 14px 24px;
  margin: 4px 0px;
  border-radius: 6px;
  transition: all 0.35s;
  cursor: pointer;

  & > i {
    color: var(--color-primary-02);
    font-weight: 500;
    font-size: 24px;
    margin-right: 8px;
  }

  &:hover {
    background-color: var(--sidebar-button-hover);
  }
}

.label {
  font-size: var(--regular-font-size);
  font-weight: 500;
  display: flex;
  align-items: center;

  &.label-small {
    font-size: var(--small-font-size);
  }

  &.label-large {
    font-size: var(--large-font-size);
  }

  & > .icon-left {
    font-weight: 600;
    margin-right: 8px;
    cursor: pointer;
  }

  & > .icon-right {
    font-weight: 600;
    margin-left: 8px;
    cursor: pointer;
  }
}

.navbar {
  @extend %card-base;
  border-radius: 0 0 8px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--elevation-04);
  padding: 2px 24px;
  height: 54px;
}

.navbar-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer {
  min-height: 42px;
  padding: 32px 36px;
  background-color: var(--footer-background-color);
  color: var(--footer-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

%pagination-button {
  color: var(--color-primary-02);
  background-color: var(--primary-color);
  padding: 4px;
  border-radius: 360px;
  box-shadow: var(--elevation-03);
  font-size: 32px;
  cursor: pointer;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px 0px;
  width: fit-content;

  & > .icon-left {
    @extend %pagination-button;
    margin-right: 36px;
  }

  & > .icon-right {
    @extend %pagination-button;
    margin-left: 36px;
  }

  & > .number {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px;
    height: 10px;
    width: 10px;
    padding: 8px;
    font-size: var(--small-font-size);
    color: var(--primary-text-color);
    border-radius: 360px;
    cursor: pointer;

    &:hover {
      color: var(--color-primary-02);
    }

    &.selected {
      color: var(--color-primary-02);
    }
  }
}

%table-cell {
  text-align: start;
  border-bottom: 1px solid var(--table-border-color);
  padding: 16px 20px;
  vertical-align: middle;
  border-spacing: 0px;
  border-collapse: unset;
}

%table-cell-bold {
  color: var(--color-dark-04);
  font-weight: 500;
}

.table {
  width: 100%;
  box-shadow: var(--elevation-02);
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  border-collapse: collapse;
  border-spacing: 0;

  & > thead > th {
    @extend %table-cell;
    color: var(--table-header-color);
    font-weight: 500;
    padding: 22px 20px;
  }

  & > tbody > tr > td {
    @extend %table-cell;

    &.min-width {
      width: 1%;
    }
  }

  & > tbody > tr:last-child > td {
    border-width: 0px;
  }
}

.tabs {
  display: flex;
  justify-content: center;

  & > .tab {
    color: var(--tab-color);
    font-weight: 600;
    font-size: var(--large-font-size);
    border: 0;
    padding: 10px 36px;
    background-color: unset;
    position: relative;
    outline: 0px;
    cursor: pointer;

    &:focus {
      color: var(--tab-color-selected);

      &:before {
        background-color: var(--color-primary-02);
      }
    }

    &:active {
      color: var(--tab-color-selected);
    }

    &:before {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 2px;
      background-color: var(--tab-border-color);
    }
  }
}
