@import './core-elements-fonts.scss';
@import './core-elements-dark.scss';

:root {
  --color-light-01: #ffffff;
  --color-light-02: #fafafc;
  --color-light-03: #f2f2f5;
  --color-light-04: #ebebf0;
  --color-light-05: #e4e4eb;

  --color-dark-01: #c7c9d9;
  --color-dark-02: #8f90a6;
  --color-dark-03: #555770;
  --color-dark-04: #28293d;
  --color-dark-05: #1c1c28;

  --color-primary-01: #6698fa;
  --color-primary-02: #3e7bfa;
  --color-primary-03: #3568d4;

  --color-red-01: #ffe6e6;
  --color-red-02: #ff8080;
  --color-red-03: #ff5c5c;
  --color-red-04: #ff3b3b;
  --color-red-05: #e63535;

  --color-blue-01: #e5f0ff;
  --color-blue-02: #9dbff9;
  --color-blue-03: #5b8def;
  --color-blue-04: #0063f7;
  --color-blue-05: #004fc4;

  --color-green-01: #e3fff1;
  --color-green-02: #57eba1;
  --color-green-03: #39d98a;
  --color-green-04: #06c270;
  --color-green-05: #05a660;

  --color-orange-01: #fff8e6;
  --color-orange-02: #fdac42;
  --color-orange-03: #fdac42;
  --color-orange-04: #ff8800;
  --color-orange-05: #e67a00;

  --primary-color: var(--color-light-01);

  --button-inverted-background-color: var(--color-light-01);
  --button-inverted-color: var(--color-primary-02);

  --button-rounded-background-color: var(--color-light-01);
  --button-rounded-hover-color: var(--color-light-03);
  --button-rounded-active-color: var(--color-light-05);
  --button-rounded-disabled-color: var(--color-dark-01);
  --button-rounded-color: var(--color-primary-02);

  --accordion-background-color: var(--color-light-01);
  --accordion-hover-color: var(--color-light-03);
  --accordion-label-color: var(--color-dark-02);
  --accordion-label-active-color: var(--color-dark-03);

  --alert-background-color: var(--color-blue-01);
  --alert-border-color: var(--color-blue-03);
  --alert-header-color: var(--color-dark-04);
  --alert-color: var(--color-dark-03);
  --alert-icon-content: '\e086';

  --elevation-01: 0px 0px 1px rgba(40, 41, 61, 0.08),
    0px 0.5px 2px rgba(96, 97, 112, 0.16);
  --elevation-02: 0px 0px 1px rgba(40, 41, 61, 0.04),
    0px 2px 4px rgba(96, 97, 112, 0.16);
  --elevation-03: 0px 0px 2px rgba(40, 41, 61, 0.04),
    0px 4px 8px rgba(96, 97, 112, 0.16);
  --elevation-04: 0px 2px 4px rgba(40, 41, 61, 0.04),
    0px 8px 16px rgba(96, 97, 112, 0.16);
  --elevation-05: 0px 2px 8px rgba(40, 41, 61, 0.04),
    0px 16px 24px rgba(96, 97, 112, 0.16);
  --elevation-06: 0px 4px 4px rgba(0, 0, 0, 0.25);

  color: var(--color-dark-03);
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
}

.heading {
  font-weight: bold;
  font-style: normal;
  margin: 20px 0;
  color: var(--color-dark-05);
}

h1 {
  @extend .heading;
  font-size: 40px;
  line-height: 54px;
}

h2 {
  @extend .heading;
  font-size: 32px;
  line-height: 44px;
}

h3 {
  @extend .heading;
  font-size: 28px;
  line-height: 38px;
}

h4 {
  @extend .heading;
  font-size: 24px;
  line-height: 32px;
}

h5 {
  @extend .heading;
  font-size: 20px;
  line-height: 28px;
}

h6 {
  @extend .heading;
  font-size: 16px;
  line-height: 22px;
}

.small {
  color: var(--color-dark-05);
  font-size: 12px;
  line-height: 14.5px;
}

.tiny {
  color: var(--color-dark-05);
  font-size: 10px;
  line-height: 12px;
  font-weight: 600;
}

.capitalized {
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.card {
  background-color: var(--primary-color);
  border-radius: 8px;
}

.card.elevation-01 {
  box-shadow: var(--elevation-01);
}

.card.elevation-02 {
  box-shadow: var(--elevation-02);
}

.card.elevation-03 {
  box-shadow: var(--elevation-03);
}

.card.elevation-04 {
  box-shadow: var(--elevation-04);
}

.card.elevation-05 {
  box-shadow: var(--elevation-05);
}

.card.elevation-06 {
  box-shadow: var(--elevation-06);
}

.button {
  padding: 8px 12px;
  color: var(--color-light-01);
  font-weight: 500;
  font-size: 14px;
  border-radius: 8px;
  border: 0;
  box-shadow: var(--elevation-02);
  background-color: var(--color-primary-02);
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background-color: var(--color-primary-01);
  }

  &:active {
    background-color: var(--color-primary-03);
    box-shadow: var(--elevation-03);
  }

  &:disabled {
    color: var(--color-dark-02);
    background-color: var(--color-light-05);
    cursor: not-allowed;

    &:active {
      box-shadow: var(--elevation-02);
    }
  }

  &.success {
    background-color: var(--color-green-04);

    &:hover {
      background-color: var(--color-green-03);
    }

    &:active {
      background-color: var(--color-green-05);
    }
  }

  &.danger {
    background-color: var(--color-red-04);

    &:hover {
      background-color: var(--color-red-03);
    }

    &:active {
      background-color: var(--color-red-05);
    }
  }

  &.warning {
    background-color: var(--color-orange-04);

    &:hover {
      background-color: var(--color-orange-03);
    }

    &:active {
      background-color: var(--color-orange-05);
    }
  }

  &.inverted {
    background-color: unset;
    border: 1px var(--color-primary-02) solid;
    color: var(--button-inverted-color);

    &:hover {
      background-color: unset !important;
    }

    &:active {
      background-color: unset !important;
    }

    &:disabled {
      color: var(--color-dark-01);
      border: 1px var(--color-dark-01) solid;
    }
  }

  &.inverted.success {
    border: 1px var(--color-green-04) solid;
    --button-inverted-color: var(--color-green-04);
  }

  &.inverted.danger {
    border: 1px var(--color-red-04) solid;
    --button-inverted-color: var(--color-red-04);
  }

  &.inverted.warning {
    border: 1px var(--color-orange-04) solid;
    --button-inverted-color: var(--color-orange-04);
  }

  &.small {
    padding: 6px 12px;
    font-size: 12px;
  }

  &.large {
    padding: 10px 20px;
    font-size: 16px;
  }

  &.rounded {
    border-radius: 360px;
    color: var(--button-rounded-color);
    background-color: var(--button-rounded-background-color);
    padding: 10px 22px;

    &:hover {
      background-color: var(--button-rounded-hover-color);
    }

    &:active {
      background-color: var(--button-rounded-active-color);
    }

    &:disabled {
      color: var(--button-rounded-disabled-color);

      &:hover {
        background-color: var(--button-rounded-background-color);
      }
    }
  }

  &.rounded.small {
    padding: 8px 18px;
  }

  &.rounded.large {
    padding: 10px 30px;
  }

  &.icon {
    border-radius: 50%;
    padding: 10px 14px;
    font-weight: 600;
  }
}

.accordion {
  overflow: hidden;
}

.accordion-item {
  @extend .card;
  overflow: hidden;
  margin: 4px;

  label {
    padding: 12px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    color: var(--accordion-label-color);
    background: var(--accordion-background-color);
    cursor: pointer;

    &:hover {
      background-color: var(--accordion-hover-color);
    }

    & i {
      display: flex;
      align-items: center;
      font-size: 32px;
      transition: all 0.35s;
    }
  }

  .content {
    max-height: 0;
    background: var(--accordion-background-color);
    transition: all 0.35s;
    padding: 0px 0px 0px 32px;
  }
}

.accordion-item-checkbox {
  position: absolute;
  opacity: 0;
  z-index: -1;

  &:checked {
    + .accordion-item {
      box-shadow: var(--elevation-02);

      & label {
        color: var(--accordion-label-active-color);

        &:hover {
          background-color: var(--accordion-background-color);
        }

        & i {
          transform: rotate(180deg);
        }
      }

      & .content {
        max-height: 100vh;
        padding: 4px 0px 12px 32px;
      }
    }
  }
}

.alert {
  background-color: var(--alert-background-color);
  border-left: 2px solid var(--alert-border-color);
  border-radius: 2px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  color: var(--alert-color);
  max-width: 400px;
  margin: 5px 0px;

  %iccon {
    content: var(--alert-icon-content);
    font-family: 'GlyphIcons';
    color: var(--alert-border-color);
  }

  %dismiss-icon {
    content: '\e680';
    font-family: 'Pe-icon-7-stroke';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    float: right;
    cursor: pointer;
  }

  %bbutton {
    width: max-content;
    align-self: flex-end;
    float: right;
  }

  & .message {
    font-size: 14px;
    margin: 4px 0px 14px 0px;

    font-weight: 600;
    color: var(--alert-header-color);
    margin: 0px;

    & > button {
      @extend %bbutton;
    }
  }

  & > button {
    @extend %bbutton;
  }

  & .header {
    color: var(--alert-header-color);
    font-size: 16px;
    font-weight: 600;
    display: block;

    &:after {
      @extend %dismiss-icon;
    }

    & ~ .message {
      font-weight: 400;
      color: var(--alert-color);
      margin: 4px 0px 14px 0px;
      line-height: 20px;
    }
  }

  &.icon-right {
    & .message:after {
      @extend %iccon;
      float: right;
    }
  }

  &.icon-left {
    & .message:before {
      @extend %iccon;
      float: left;
      margin-right: 16px;
    }
  }

  &.dismissable {
    display: flex;
    flex-direction: column;

    & .message:after {
      @extend %dismiss-icon;
    }
  }

  &.success {
    --alert-background-color: var(--color-green-01);
    --alert-border-color: var(--color-green-03);
    --alert-icon-content: '\e084';
  }

  &.danger {
    --alert-background-color: var(--color-red-01);
    --alert-border-color: var(--color-red-03);
    --alert-icon-content: '\e083';
  }

  &.warning {
    --alert-background-color: var(--color-orange-01);
    --alert-border-color: var(--color-orange-03);
    --alert-icon-content: '\e083';
  }
}

.chip {
  border-radius: 360px;
  box-shadow: var(--elevation-02);
  padding: 6px 14px;
  width: max-content;
  min-width: max-content;
  background-color: var(--color-light-01);
  color: var(--color-dark-05);
  font-size: 14px;
  line-height: 14.5px;
  font-weight: 500;

  & > i {
    margin-right: 6px;
    font-weight: bold;
  }

  &.dismissable {
    &:after {
      content: '\e680';
      font-family: 'Pe-icon-7-stroke';
      font-weight: normal;
      font-style: normal;
      font-size: 24px;
      float: right;
      cursor: pointer;
      width: 16px;
    }
  }
}
