@font-face {
  font-family: 'Inter';
  src: url('src/assets/fonts/Inter-Regular-slnt=0.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('src/assets/fonts/Inter-Medium-slnt=0.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('src/assets/fonts/Inter-SemiBold-slnt=0.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('src/assets/fonts/Inter-Bold-slnt=0.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
