@import './core-elements-fonts.scss';
@import './core-elements-dark.scss';

:root {
  --color-light-01: #ffffff;
  --color-light-02: #fafafc;
  --color-light-03: #f2f2f5;
  --color-light-04: #ebebf0;
  --color-light-05: #e4e4eb;

  --color-dark-01: #c7c9d9;
  --color-dark-02: #8f90a6;
  --color-dark-03: #555770;
  --color-dark-04: #28293d;
  --color-dark-05: #1c1c28;

  --color-primary-01: #6698fa;
  --color-primary-02: #3e7bfa;
  --color-primary-03: #3568d4;

  --color-red-01: #ffe6e6;
  --color-red-02: #ff8080;
  --color-red-03: #ff5c5c;
  --color-red-04: #ff3b3b;
  --color-red-05: #e63535;

  --color-blue-01: #e5f0ff;
  --color-blue-02: #9dbff9;
  --color-blue-03: #5b8def;
  --color-blue-04: #0063f7;
  --color-blue-05: #004fc4;

  --color-green-01: #e3fff1;
  --color-green-02: #57eba1;
  --color-green-03: #39d98a;
  --color-green-04: #06c270;
  --color-green-05: #05a660;

  --primary-color: var(--color-light-01);

  --elevation-01: 0px 0px 1px rgba(40, 41, 61, 0.08),
    0px 0.5px 2px rgba(96, 97, 112, 0.16);
  --elevation-02: 0px 0px 1px rgba(40, 41, 61, 0.04),
    0px 2px 4px rgba(96, 97, 112, 0.16);
  --elevation-03: 0px 0px 2px rgba(40, 41, 61, 0.04),
    0px 4px 8px rgba(96, 97, 112, 0.16);
  --elevation-04: 0px 2px 4px rgba(40, 41, 61, 0.04),
    0px 8px 16px rgba(96, 97, 112, 0.16);
  --elevation-05: 0px 2px 8px rgba(40, 41, 61, 0.04),
    0px 16px 24px rgba(96, 97, 112, 0.16);
  --elevation-06: 0px 4px 4px rgba(0, 0, 0, 0.25);

  color: var(--color-dark-03);
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
}

.heading {
  font-weight: bold;
  font-style: normal;
  margin: 20px 0;
  color: var(--color-dark-05);
}

h1 {
  @extend .heading;
  font-size: 40px;
  line-height: 54px;
}

h2 {
  @extend .heading;
  font-size: 32px;
  line-height: 44px;
}

h3 {
  @extend .heading;
  font-size: 28px;
  line-height: 38px;
}

h4 {
  @extend .heading;
  font-size: 24px;
  line-height: 32px;
}

h5 {
  @extend .heading;
  font-size: 20px;
  line-height: 28px;
}

h6 {
  @extend .heading;
  font-size: 16px;
  line-height: 22px;
}

.small {
  color: var(--color-dark-05);
  font-size: 12px;
  line-height: 14.5px;
}

.tiny {
  color: var(--color-dark-05);
  font-size: 10px;
  line-height: 12px;
  font-weight: 600;
}

.capitalized {
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.card {
  background-color: var(--primary-color);
  border-radius: 8px;
}

.card.elevation-01 {
  box-shadow: var(--elevation-01);
}

.card.elevation-02 {
  box-shadow: var(--elevation-02);
}

.card.elevation-03 {
  box-shadow: var(--elevation-03);
}

.card.elevation-04 {
  box-shadow: var(--elevation-04);
}

.card.elevation-05 {
  box-shadow: var(--elevation-05);
}

.card.elevation-06 {
  box-shadow: var(--elevation-06);
}

.button {
  padding: 8px 12px;
  color: var(--color-light-01);
  font-weight: 500;
  border-radius: 8px;
  border: 0;
  box-shadow: var(--elevation-02);
  background-color: var(--color-primary-02);
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background-color: var(--color-primary-01);
  }

  &:active {
    background-color: var(--color-primary-03);
  }

  &:disabled {
    color: var(--color-dark-01);
    background-color: var(--color-light-05);
  }
}

.button.success {
  background-color: var(--color-green-04);

  &:hover {
    background-color: var(--color-green-03);
  }

  &:active {
    background-color: var(--color-green-05);
  }
}

.button.danger {
  background-color: var(--color-red-04);

  &:hover {
    background-color: var(--color-red-03);
  }

  &:active {
    background-color: var(--color-red-05);
  }
}

.button.small {
  padding: 6px 12px;
}

.button.large {
  padding: 10px 20px;
}
